{{#if enableEditAction}}
<div class="combatant-declarations">
	<select id="combatantDeclaration" class="sidebar-select" {{disabled disableEditAction}} data-tooltip="{{localize (concat 'FADE.combat.maneuvers.' combatant.actor.system.combat.declaredAction '.description')}}">
		{{selectOptions availableActions selected=combatant.actor.system.combat.declaredAction}}
	</select>
</div>
{{else}}
<label class="declared-action" data-tooltip="{{localize (concat 'FADE.combat.maneuvers.' combatant.actor.system.combat.declaredAction '.description')}}">{{localize (concat 'FADE.combat.maneuvers.' combatant.actor.system.combat.declaredAction '.name')}}</label>
{{/if}}