<header class="sheet-header">
   <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="editImage" height="80" width="80" />
   <div class="header-fields">
      <div class="summary flexrow">
         <div class="flex2">
            <div class="charname">
               <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
               <label>{{localize 'Name'}}</label>
            </div>
         </div>
         <div class="flex1" style="max-width:90px;">
            <input type="text" name="system.details.species" value="{{system.details.species}}" data-dtype="String" data-tooltip="{{system.details.species}}" />
            <label class="open-sheet" data-action="editSpecies">{{localize 'FADE.Actor.Species'}}</label>
         </div>        
      </div>
      <div class="summary flexrow">
         <div class="flex1 {{#if (and (eq hasMultiClass false) (gte currentXp nextXp))}}notify{{/if}}" style="max-width: 80px">
            <input type="text" name="system.details.level" value="{{system.details.level}}" data-dtype="String" />
            <label>{{localize 'FADE.Actor.Level'}}</label>
         </div>
         <div class="flex2">
            <input type="text" name="system.details.class" value="{{system.details.class}}" data-dtype="String" data-tooltip="{{system.details.class}}" />
            <label class="open-sheet" data-action="editClass" data-tooltip="{{localize 'FADE.Actor.ClassHint'}}">{{localize 'FADE.Actor.Class'}}</label>
         </div>
         <div class="flex2" style="max-width: 140px">
            <input class="hitdie" name="system.hp.hd" type="text" value="{{system.hp.hd}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.HitDice'}}" />
            <label class="hitdie rollable2" data-action="rollGeneric" data-formula="{{system.hp.hd}}" data-label="{{localize 'FADE.Actor.HitDice'}}">{{localize 'FADE.Actor.HitDiceShort'}}</label>
         </div>
      </div>
      <div class="summary flexrow">
         <div class="flex2" style="max-width: 130px">
            <input type="text" name="system.details.xp.value" value="{{system.details.xp.value}}" data-dtype="Number" />
            <label>{{localize 'FADE.Actor.Experience'}}</label>
         </div>
         <div class="flex2" style="max-width: 130px">
            <input type="text" name="system.details.xp.next" value="{{system.details.xp.next}}" data-dtype="Number" />
            <label>{{localize 'FADE.Actor.NextLevel'}}</label>
         </div>
         <div class="flex1" style="min-width: 50px">
            <input type="text" name="system.details.xp.bonus" value="{{@root.system.details.xp.bonus}}" data-dtype="Number" />
            <label>{{localize "FADE.Actor.XPBonus"}}</label>
         </div>
         <div class="flex2" style="max-width: 140px">
            <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" data-dtype="String" data-tooltip="{{system.details.alignment}}" />
            <label>{{localize 'FADE.Actor.Alignment'}}</label>
         </div>
         <div class="flex1" style="max-width:50px">
            <input type="text" name="system.details.attacks" value="{{system.details.attacks}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.Attacks.long'}}" />
            <label data-tooltip="{{localize 'FADE.Actor.Attacks.long'}}">{{localize 'FADE.Actor.Attacks.abbr'}}</label>
         </div>
      </div>
   </div>
</header>