<form>
   <!-- Dropdown for selecting 'melee' or 'missile' -->
   <div class="form-group">
      <label for="attackType">{{localize 'FADE.AttackTypes.name'}}</label>
      <select id="attackType" class="form-control">
         {{selectOptions types selected='melee' valueAttr="value" labelAttr="text"}}
      </select>
   </div>
   {{#if targetWeaponTypes}}
   <div class="form-group">
      <label for="targetWeaponType">{{localize 'FADE.dialog.masteryTargetType'}}</label>
      <select id="targetWeaponType" class="form-control">
         {{selectOptions targetWeaponTypes selected=selectedWeaponType valueAttr="value" labelAttr="text"}}
      </select>
   </div>
   {{/if}}
   {{#if modes}}
   <div class="form-group">
      <label for="attackMode">{{localize 'FADE.dialog.attackMode.name'}}</label>
      <select id="attackMode" class="form-control">
         {{selectOptions modes selected='1hand' valueAttr="value" labelAttr="text"}}
      </select>
   </div>
   {{/if}}
   <!-- Modifier Input Field -->
   <div class="form-group">
      <label>{{localize "FADE.modifier"}}</label>
      <input id="mod" placeholder=0 type="number" />
   </div>
</form>
