<style type="text/css">
   .form-group label {
      flex: 3 !important;
      line-height: normal !important;
   }
</style>
<form>
   <!-- Dropdown for selecting 'melee' or 'missile' -->
   <div class="form-group">
      <label for="attackType">{{localize 'FADE.AttackTypes.name'}}</label>
      <select id="attackType" class="form-control">
         {{selectOptions types selected='melee'}}
      </select>
   </div>
   {{#if targetWeaponTypes}}
   <div class="form-group">
      <label for="targetWeaponType">{{localize 'FADE.dialog.masteryTargetType'}}</label>
      <select id="targetWeaponType" class="form-control">
         {{selectOptions targetWeaponTypes selected=selectedWeaponType}}
      </select>
   </div>
   {{/if}}
   <!-- Modifier Input Field -->
   <div class="form-group">
      <label>{{localize "FADE.modifier"}}</label>
      <input id="mod" placeholder=0 type="number" />
   </div>
</form>
