<form>
   <table>
      <tbody>         
         <tr>
            <td><label for="wrestlingState">{{localize "FADE.dialog.wrestling.stateLabel"}}</label></td>
            <td>
               <select id="wrestlingState" name="wrestlingState">
                  {{selectOptions wrestlingStates selected=wrestlingState}}
               </select>
            </td>
         </tr>
         {{#each attackers as |attacker id|}}
         <tr>
            <td><label for="attackerWR-{{attacker.id}}">{{localize 'FADE.Actor.Wrestling.abbr'}}: {{attacker.name}}{{#if this.isPrimary}} <i class="fas fa-crown"></i>{{/if}}</label></td>
            <td>
               <input class="width-120" type="number" id="attackerWR-{{attacker.id}}" name="attackerWR-{{attacker.id}}" min="0" value="{{attacker.wrestling}}" />
            </td>
         </tr>
         {{/each}}
         <tr>
         <tr>
            <td><label for="defenderWR">{{localize 'FADE.Actor.Wrestling.abbr'}}: {{defender.name}}</label></td>
            <td>
               <input class="width-120" type="number" id="defenderWR" name="defenderWR" min="0" value="{{defender.actor.system.wrestling}}" />
            </td>
         </tr>
      </tbody>
   </table>
</form>
