<section class="flexrow">
   <section class="bordered ability-scores">
      {{#each system.abilities as |ability key|}}
      <div class="ability flexrow flex-group-left">
         <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
         <label for="system.abilities.{{key}}.value" class="rollable flex0"
                data-ability="{{key}}"
                data-test="ability"
                data-pass="lte">
            {{localize (concat 'FADE.Actor.Abilities.' key '.abbr')}}
         </label>
         <span class="ability-mod flex0" title="{{localize (concat 'FADE.Actor.Abilities.' key '.mod')}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
      </div>
      {{/each}}
   </section>
   <section>
      <div class="bordered resources">
         <div class="flexrow">
            <!-- Hit Points -->
            <div class="hitpoints">
               <input name="system.hp.value" class="hp-value hp-top" type="text" value="{{system.hp.value}}" data-dtype="Number" title="{{localize 'FADE.Actor.HealthShort'}}" />
               <input name="system.hp.max" class="hp-value hp-bottom" type="text" value="{{system.hp.max}}" data-dtype="Number" title="{{localize 'FADE.Actor.HealthMax'}}" />
               <!--<label>{{localize 'FADE.Actor.HealthShort'}}</label>-->
               <div class="hp-empty" style="height:{{counter false system.hp.value system.hp.max}}%"></div>
               <div class="hp-full" style="height:{{counter true system.hp.value system.hp.max}}%"></div>
            </div>
            <!-- Armor Class -->            
            <div class="hitpoints armor-class">
               <label class="hp-value hp-top" title="{{localize 'FADE.Armor.long'}}">{{system.ac.total}}</label>
               <div class="hp-value hp-bottom" title="{{localize 'FADE.Armor.naked'}}">{{system.ac.naked}}</div>
               {{#if system.ac.shield}}
               <div class="shield" title="{{localize 'FADE.Armor.shield.long'}} ({{system.ac.shield}})"><i class="fas fa-shield-alt"></i></div>
               {{/if}}
            </div>
         </div>
      </div>
      <div class="bordered text-center" style="margin-top:4px;">
         <!-- Exploration -->
         <h4>{{localize 'FADE.Actor.Ex.long'}}</h4>
         <div class="flexrow flex-group-center">
            <span class="xsmall-col">
               <label class="rollable" for="system.exploration.openDoor" data-formula="d6" data-pass="gte" data-target="{{system.exploration.openDoor}}" data-label="{{localize 'FADE.Actor.Ex.OpenDoor.value'}}" title="{{localize 'FADE.Actor.Ex.OpenDoor.long'}}">{{localize 'FADE.Actor.Ex.OpenDoor.abbr'}}</label>
               <br />
               <input name="system.exploration.openDoor" type="text" data-dtype="Number" title="{{localize 'FADE.Actor.Ex.OpenDoor.long'}}" value="{{system.exploration.openDoor}}" />
            </span>
            <span class="xsmall-col">
               <label class="rollable" for="system.exploration.secretDoor" data-formula="d6" data-pass="lte" data-target="{{system.exploration.secretDoor}}" data-label="{{localize 'FADE.Actor.Ex.SecretDoor.value'}}" title="{{localize 'FADE.Actor.Ex.SecretDoor.long'}}">{{localize 'FADE.Actor.Ex.SecretDoor.abbr'}}</label>
               <br />
               <input name="system.exploration.secretDoor" type="text" data-dtype="Number" title="{{localize 'FADE.Actor.Ex.SecretDoor.long'}}" value="{{system.exploration.secretDoor}}" />
            </span>
         </div>
         <div class="clear-fix"></div>
         <div class="flexrow flex-group-center">
            <span class="xsmall-col">
               <label class="rollable" for="system.exploration.listenDoor" data-formula="d6" data-pass="lte" data-target="{{system.exploration.listenDoor}}" data-label="{{localize 'FADE.Actor.Ex.ListenDoor.value'}}" title="{{localize 'FADE.Actor.Ex.ListenDoor.long'}}">{{localize 'FADE.Actor.Ex.ListenDoor.abbr'}}</label>
               <br />
               <input name="system.exploration.listenDoor" type="text" data-dtype="Number" title="{{localize 'FADE.Actor.Ex.ListenDoor.long'}}" value="{{system.exploration.listenDoor}}" />
            </span>
            <span class="xsmall-col">
               <label class="rollable" for="system.exploration.findTrap" data-formula="d6" data-pass="lte" data-target="{{system.exploration.findTrap}}" data-label="{{localize 'FADE.Actor.Ex.FindTrap.value'}}" title="{{localize 'FADE.Actor.Ex.FindTrap.long'}}">{{localize 'FADE.Actor.Ex.FindTrap.abbr'}}</label>
               <br />
               <input name="system.exploration.findTrap" type="text" data-dtype="Number" title="{{localize 'FADE.Actor.Ex.FindTrap.long'}}" value="{{system.exploration.findTrap}}" />
            </span>
         </div>
         <div class="clear-fix"></div>
      </div>
   </section>
   <section class="bordered">
      <!-- Saving Throws -->
      <div class="saving-throws">
         <h4>{{localize 'FADE.Actor.Saves.long'}}</h4>
         {{#each system.savingThrows as |savingThrow key|}}
         <div class="flexrow flex-group-center">
            <input type="text" name="system.savingThrows.{{key}}.value" value="{{savingThrow.value}}" data-dtype="Number" />
            <label for="system.savingThrows.{{key}}.value" class="rollable" data-formula="d20" data-pass="gte" data-target="{{savingThrow.value}}" data-label="{{localize (concat 'FADE.Actor.Saves.' key '.long')}}">
               {{localize (concat 'FADE.Actor.Saves.' key '.long')}}
            </label>
         </div>
         {{/each}}
      </div>
   </section>
</section>
<section class="grid max-width-300px grid-2col">
   <section class="bordered text-center" style="margin-top:-10px;">
      <!-- Movement -->
      <h4>{{localize 'FADE.Actor.Movement.long'}}</h4>
      <div class="grid grid-4col label-12px">
         <div>
            <label for="system.movement.turn">{{localize 'FADE.Actor.Movement.turn'}}</label>
            <input name="system.movement.turn" type="text" data-dtype="Number" value="{{system.movement.turn}}" />
         </div>
         <div>
            <label for="system.movement.round">{{localize 'FADE.Actor.Movement.round'}}</label>
            <input name="system.movement.round" type="text" data-dtype="Number" readonly value="{{system.movement.round}}" />
         </div>
         <div>
            <label for="system.movement.day">{{localize 'FADE.Actor.Movement.day'}}</label>
            <input name="system.movement.day" type="text" data-dtype="Number" readonly value="{{system.movement.day}}" />
         </div>
         <div>
            <label for="system.movement.run">{{localize 'FADE.Actor.Movement.run'}}</label>
            <input name="system.movement.run" type="text" data-dtype="Number" readonly value="{{system.movement.run}}" />
         </div>
      </div>
   </section>
   <section class="bordered text-center" style="margin-top:-10px;">
      <div>
         <h4>Other</h4>
         <div class="grid grid-4col label-12px">
            <div>
               <label for="system.wrestling" title="{{localize 'FADE.Actor.Wrestling.long'}}">{{localize 'FADE.Actor.Wrestling.short'}}</label>
               <input name="system.wrestling" type="text" data-dtype="Number" value="{{system.wrestling}}" />
            </div>
            <div>
               TBD
            </div>
            <div>
               TBD
            </div>
         </div>
      </div>
   </section>
</section>