<section class="grid grid-3col">
  <aside class="sidebar">
    <div class="abilities flexcol">
      {{#each system.abilities as |ability key|}}
      <div class="ability flexrow flex-group-center">
        <label for="system.abilities.{{key}}.value" class="rollable align-left" data-roll="d20" data-label="{{localize (lookup @root.config.abilities key)}}">{{localize (lookup @root.config.abilityAbbreviations key)}}</label>
        <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
        <span class="ability-mod" title="{{localize (lookup @root.config.adjustmentDesc key)}}" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
      </div>
      {{/each}}
    </div>
  </aside>
  <section class="main grid-span-2">
  </section>
</section>
