<section name="spellItemsSection" class="items-list" style="margin-top:-12px;">
   <div class="item-category-title flexrow" style="line-height: 15px">
      <div class="item-controls">
         <a class="item-control item-reset"
            title='{{localize "FADE.Spell.resetSlots"}}'
            data-action="reset-spells">
            <i class="fas fa-sync"></i>
         </a>
      </div>
   </div>
   {{#each spellSlots as |slot|}}
   <ol name="spellLevel{{add @index 1}}" class='items-list'>
      {{! Spell Level Header}}
      <li class='item flexrow items-header collapsible-header'>
         <div class='item-name'>
            {{localize 'FADE.Spell.SpellLVL' level=(add @index 1)}}
         </div>
         <div class="item-40px">{{localize 'FADE.Spell.slots'}}</div>
         <div class="item-80px flexrow">
            <input type="text"
                   value="{{lookup (lookup @root.system.spellSlots @index) 'used'}}"
                   name="system.spellSlots[{{@index}}].used"
                   data-dtype="Number"
                   placeholder="0"
                   readonly
                   data-tooltip="{{localize 'FADE.Spell.usedSlots'}}" />/
            <input type="text"
                   value="{{lookup (lookup @root.system.spellSlots @index) 'max'}}"
                   name="system.spellSlots[{{@index}}].max"
                   data-dtype="Number"
                   placeholder="0"
                   data-tooltip="{{localize 'FADE.Spell.availableSlots'}}" />
         </div>
         <div class='item-controls'>
            <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.spell")}}' data-type='spell'>
               <i class='fas fa-plus'></i>
               {{localize 'FADE.Spell.AddLVL' level=(add @index 1)}}
            </a>
         </div>
      </li>
      {{#each slot.spells as |item id|}}
      {{! Spell Item }}
      <li class='item collapsible-content bottom-border' data-item-id='{{item._id}}'>
         <div class="flexrow center-vert">
            <div class='item-name flexrow'>
               <div class='item-image rollable' data-roll-type='item'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
               </div>
               <a class="item-control description-expand" title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.spell")}}'>{{item.name}}</a>
            </div>
            <div class="item-40px">{{localize 'FADE.Spell.casts'}}</div>
            <div class="item-80px flexrow editable">
               <input type="text"
                      value="{{item.system.cast}}"
                      data-dtype="Number"
                      placeholder="0"
                      data-field="cast"
                      data-tooltip="{{localize 'FADE.Spell.cast'}}" />/
               <input type="text"
                      value="{{item.system.memorized}}"
                      data-field="memorized"
                      data-dtype="Number"
                      placeholder="∞"
                      data-tooltip="{{localize 'FADE.Spell.memorized'}}" />
            </div>
            <div class='item-controls-sm center-vert'>
               <a class="item-control item-edit" title='{{localize "DOCUMENT.Update" type=(localize "FADE.SpecialAbility.long")}}'>
                  <i class='fas fa-pencil'></i>
               </a>
               <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.spell")}}'>
                  <i class='fas fa-trash'></i>
               </a>
            </div>
         </div>
         <div class='item-description desc-collapsed'></div>
      </li>
      {{/each}}
   </ol>
   {{/each}}
</section>