<div class="bordered" style="height:97%;">
   <h4>{{localize 'FADE.Actor.Class'}}</h4>
   <div name="savesSpecialAbilityItems" class='items-list'>
      {{#each class as |item id|}}
      <div class='item flexrow collapsible-content bottom-border' data-item-id='{{item._id}}'>
         <div class='item-name'>
            <a class="item-control item-edit" 
               data-action="editItem" 
               data-tooltip='{{localize "DOCUMENT.Update" type=(localize "FADE.Actor.Class")}}'>
               {{item.name}}
            </a>
         </div>
         <div class="editable" style="max-width:30px;">
            <input type="text" value="{{item.system.level}}" data-field="level" data-dtype="Number" />
         </div>
         <div class='item-controls' style="max-width:20px;">
            {{#if @root.isGM}}
            <a class='item-control item-delete' 
               data-action="deleteItem" 
               data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.Class")}}'>
               <i class='fas fa-trash'></i>
            </a>
            {{/if}}
         </div>
      </div>
      {{/each}}
   </div>
</div>