<div class="items-list">
   <div class="flexrow item items-header">
      <div class="item-name">{{localize 'FADE.condition.plural'}}</div>
      <div>{{localize "EFFECT.TabDuration"}}</div>
      <div class='item-controls'>
         <!--<a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.condition")}}' data-type='condition'>
            <i class='fas fa-plus'></i>
            {{localize 'TYPES.Item.condition'}}
         </a>-->
      </div>
   </div>
   {{#each conditions as |item|}}
   <div class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
         <div class='item-image chatable' data-roll-type='item'>
            <img src='{{item.img}}' width='26' height='26' />
         </div>
         <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.condition")}}'>{{item.name}}</a>
      </div>
      <div class="item-140px item-prop">
         <label>{{item.duration}}</label>
      </div>
      <div class='item-controls item-prop'>
         <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.condition")}}'>
            <i class='fas fa-trash'></i>
         </a>
      </div>
   </div>
   {{/each}}
</div>
{{#if isGM}}
<div class="items-list effects-list">
   {{#each effects as |section sid|}}
   <div class="items-header flexrow collapsible-header" data-effect-type="{{section.type}}" data-parent-id="{{@root.actor.id}}">
      <h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
      <div class="effect-source">{{localize "FADE.Effect.Source"}}</div>
      <div class="effect-source">{{localize "EFFECT.TabDuration"}}</div>
      <div class="item-controls effect-controls flexrow">
         <a class="effect-control" data-action="create" data-tooltip="{{localize 'DOCUMENT.Create' type=(localize "FADE.Effect.short")}}">
            <i class="fas fa-plus"></i> {{localize 'FADE.Effect.short'}}
         </a>
      </div>
   </div>
   <ol class="item-list">
      {{#each section.effects as |effect|}}
      <li class="item effect flexrow collapsible-content" data-effect-id="{{effect.id}}" data-parent-id="{{effect.parent.id}}">
         <div class='item-name effect-name'>
            <div class='item-image'>
               <img src='{{effect.img}}' title='{{effect.name}}' width='26' height='26' />
            </div>
            <a class="effect-control" data-action="edit" title='{{localize "DOCUMENT.Update" type=(localize "FADE.Effect.short")}}'>{{effect.name}}</a>
         </div>
         <div class="effect-source">{{effect.sourceNameFix}}</div>
         <div class="effect-duration">{{effect.duration.label}}</div>
         <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="toggle" data-tooltip="{{localize 'FADE.Effect.Toggle'}}">
               <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
            </a>
            <a class="effect-control" data-action="delete" data-tooltip="{{localize 'DOCUMENT.Delete' type=(localize "FADE.Effect.short")}}">
               <i class="fas fa-trash"></i>
            </a>
         </div>
      </li>
      {{/each}}
   </ol>
   {{/each}}
</div>
{{/if}}