{{> "systems/fantastic-depths/templates/item/parts/item-weapons.hbs"}}
{{> "systems/fantastic-depths/templates/item/parts/item-armor.hbs"}}
{{> "systems/fantastic-depths/templates/item/parts/item-gear.hbs"}}
{{> "systems/fantastic-depths/templates/item/parts/item-treasure.hbs"}}
<div class="flexrow flex-group-center bordered" style="margin-top:10px;">
   <span class="flex3">
      Total: ({{system.encumbrance.value}} / {{system.encumbrance.max}}) <span title="{{system.encumbrance.desc}}">{{system.encumbrance.label}}</span>
   </span>
   <span class="flex2">
      Base movement: {{system.encumbrance.mv}}
   </span>
</div>