<section class="flexrow">
   {{> "abilityScores"}}
   <section>
      {{> "actorHpAc"}}
      <div>
         <!-- EXPLORATION -->
         {{> "systems/fantastic-depths/templates/item/parts/item-exploration.hbs"}}
      </div>
   </section>
   <!-- SAVING THROWS -->
   {{> "systems/fantastic-depths/templates/item/parts/item-saves.hbs"}}
</section>
<section class="grid max-width-300px grid-2col">
   <div class="bordered text-center">
      {{> "actorMovement"}}
   </div>
   <section class="bordered text-center">
      <div>
         <h4>{{localize 'FADE.Actor.Other'}}</h4>
         <div class="grid grid-3col label-12px">
            <div>
               <input name="system.wrestling" type="text" data-dtype="Number" value="{{system.wrestling}}" />
               <label for="system.wrestling" data-tooltip="{{localize 'FADE.Actor.Wrestling.long'}}">{{localize 'FADE.Actor.Wrestling.short'}}</label>
            </div>
            {{#if system.isRetainer}}
            <div>
               <input type="text" name="system.retainer.wage" value="{{system.retainer.wage}}" data-dtype="String" />
               <label>{{localize 'FADE.Actor.RetainerWage'}}</label>
            </div>
            <div>
               <input type="text" name="system.retainer.loyalty" value="{{system.retainer.loyalty}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.moraleHint'}}" />
               <label class="rollable" for="system.retainer.loyalty"
                      data-test="generic"
                      data-formula="2d6"
                      data-pass="lte"
                      data-target="{{system.retainer.loyalty}}"
                      data-label="{{localize 'FADE.Actor.retainerMorale'}}"
                      data-tooltip="{{localize 'FADE.Actor.moraleHint'}}">{{localize 'FADE.Actor.morale'}}</label>
            </div>
            {{else}}
            <div>
               <input name="system.retainer.max" type="text" data-dtype="Number" value="{{system.retainer.max}}" />
               <label for="system.retainer.max">{{localize 'FADE.Actor.Abilities.cha.retainer'}}</label>
            </div>
            <div>
               <input name="system.retainer.morale" type="text" data-dtype="Number" value="{{system.retainer.morale}}" />
               <label class="rollable" for="system.retainer.morale"
                      data-test="generic"
                      data-formula="2d6"
                      data-pass="lte"
                      data-target="{{system.retainer.morale}}"
                      data-label="{{localize 'FADE.Actor.retainerMorale'}}"
                      data-tooltip="{{localize 'FADE.Actor.retainerMoraleHint'}}">
                  {{localize 'FADE.Actor.retainerMorale'}}
               </label>
            </div>
            {{/if}}
         </div>
      </div>
   </section>
</section>