{{!-- Sheet Header --}}
<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
<div class="header-fields">
   <ul class="summary flexrow">
      <li class="flex2">
         <div class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            <label>{{localize 'FADE.Actor.Name'}}</label>
         </div>
      </li>
      {{#if system.retainer.enabled}}
      <li>
         <input type="text" name="system.retainer.wage" value="{{system.retainer.wage}}" data-dtype="String" />
         <label>{{localize 'FADE.Actor.RetainerWage'}}</label>
      </li>
      {{else}}
      <li>
         <input type="text" name="system.details.title" value="{{system.details.title}}" data-dtype="String" />
         <label>{{localize 'FADE.Actor.Title'}}</label>
      </li>
      {{/if}}
   </ul>

   <ul class="summary flexrow">
      <li class="flex2">
         <input type="text" name="system.details.class" value="{{system.details.class}}" data-dtype="String" />
         <label>{{localize 'FADE.Actor.Class'}}</label>
      </li>
      <li class="flex2">
         <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" data-dtype="String" />
         <label>{{localize 'FADE.Actor.Alignment'}}</label>
      </li>
      <li class="flex2">
         <input type="text" name="system.details.species" value="{{system.details.species}}" data-dtype="String" />
         <label>{{localize 'FADE.Actor.Species'}}</label>
      </li>
      <li style="min-width:70px;">
         <input class="hitdie" name="system.hp.hd" type="text" value="{{system.hp.hd}}" data-dtype="String" title="{{localize 'FADE.Actor.HitDice'}}" />
         <label class="hitdie rollable" data-formula="{{system.hp.hd}}" data-label="{{localize 'FADE.Actor.HitDice'}}">{{localize 'FADE.Actor.HitDiceShort'}}</label>
      </li>
   </ul>
   <ul class="summary flexrow">
      <li class="{{#if (gte system.details.xp.value system.details.xp.next)}}notify{{/if}}">
         <input type="text" name="system.details.level" value="{{system.details.level}}" data-dtype="Number" />
         <label>{{localize 'FADE.Actor.Level'}}</label>
      </li>
      <li class="flex2">
         <input type="text" name="system.details.xp.value" value="{{system.details.xp.value}}" data-dtype="Number" />
         <label>{{localize 'FADE.Actor.Experience'}}</label>
      </li>
      <li class="flex2">
         <input type="text" name="system.details.xp.next" value="{{system.details.xp.next}}" data-dtype="Number" />
         <label>{{localize 'FADE.Actor.NextLevel'}}</label>
      </li>
      <li class="flex1">
         <input type="text" name="system.details.xp.bonus" value="{{@root.system.details.xp.bonus}}" data-dtype="Number" />
         <label>{{localize "FADE.Actor.XPBonus"}}</label>
      </li>      
   </ul>
</div>