<div class="bordered text-center">
   <!--Flight-->
   <h4>{{localize 'FADE.Actor.Flight.long'}}</h4>
   <div class="grid grid-4col label-12px">
      <div>
         <input name="system.flight.turn" type="text" data-dtype="Number" value="{{system.flight.turn}}" data-tooltip="{{localize 'FADE.Actor.Movement.turnHint'}}" />
         <label for="system.flight.turn" data-tooltip="{{localize 'FADE.Actor.Movement.turnHint'}}">{{localize 'FADE.Actor.Movement.turn'}}</label>
      </div>
      <div>
         <input name="system.flight.round" type="text" data-dtype="Number" readonly value="{{system.flight.round}}" data-tooltip="{{localize 'FADE.Actor.Movement.roundHint'}}" />
         <label for="system.flight.round" data-tooltip="{{localize 'FADE.Actor.Movement.roundHint'}}">{{localize 'FADE.Actor.Movement.round'}}</label>
      </div>
      <div>
         <input name="system.flight.day" type="text" data-dtype="Number" readonly value="{{system.flight.day}}" data-tooltip="{{localize 'FADE.Actor.Movement.dayHint'}}" />
         <label for="system.flight.day" data-tooltip="{{localize 'FADE.Actor.Movement.dayHint'}}">{{localize 'FADE.Actor.Movement.day'}}</label>
      </div>
      <div>
         <input name="system.flight.run" type="text" data-dtype="Number" readonly value="{{system.flight.run}}" data-tooltip="{{localize 'FADE.Actor.Movement.runHint'}}" />
         <label for="system.flight.run" data-tooltip="{{localize 'FADE.Actor.Movement.runHint'}}">{{localize 'FADE.Actor.Movement.run'}}</label>
      </div>
   </div>
</div>