<img class="profile-img" src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}" height="100" width="100" />
<div class="header-fields">
   <ul class="summary flexrow">
      <li>
         <div class="charname">
            <input name="name" class="charname" type="text" value="{{actor.name}}" placeholder="Name" data-tooltip="{{actor.name}}" />
            <label>{{localize 'Name'}}</label>
         </div>
      </li>
      <li style="max-width:100px;">
         <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" data-dtype="String" />
         <label>{{localize 'FADE.Actor.Alignment'}}</label>
      </li>
      <li style="max-width:94px;">
         <select style="max-width:90px;" name="system.details.size" data-tooltip="{{localize (concat 'FADE.Actor.sizes.' system.details.size 'Hint')}}">
            {{selectOptions sizes selected=system.details.size}}
         </select>
         <label for="system.details.size">{{localize 'FADE.Size'}}</label>
      </li>
   </ul>
   <ul class="summary flexrow">
      <li style="max-width:65px">
         <input class="hitdie" name="system.hp.hd" type="text" value="{{system.hp.hd}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.HitDice'}}" />
         <label class="hitdie rollable" 
                data-formula="{{formatHitDice system.hp.hd}}" 
                data-rollmode="blindroll"
                data-label="{{localize 'FADE.Actor.Health'}}">
         {{localize 'FADE.Actor.HitDiceShort'}}</label>
      </li>
      <li class="flex2" style="max-width:65px">
         <input type="text" name="system.na.wandering" value="{{system.na.wandering}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.NumberAppearing.long'}}" />
         <label class="rollable" 
                data-formula="{{system.na.wandering}}" 
                data-label="{{localize 'FADE.Actor.NumberAppearing.long'}}" 
                data-rollmode="blindroll"
                data-tooltip="{{localize 'FADE.Actor.NumberAppearing.long'}}">{{localize 'FADE.Actor.NumberAppearing.short'}}</label>
      </li>
      <li class="flex2" style="max-width: 65px">
         <input type="text" name="system.na.lair" value="{{system.na.lair}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.NumberAppearing.longLair'}}" />
         <label class="rollable" 
                data-formula="{{system.na.lair}}" 
                data-rollmode="blindroll"
                data-label="{{localize 'FADE.Actor.NumberAppearing.longLair'}}" 
                data-tooltip="{{localize 'FADE.Actor.NumberAppearing.longLair'}}">{{localize 'FADE.Actor.NumberAppearing.abbrLair'}}</label>
      </li>
      <li class="flex1" style="max-width:50px"> 
         <input type="number" name="system.details.morale" value="{{system.details.morale}}" data-dtype="String" />
         <label class="rollable" 
                data-formula="2d6" 
                data-target="{{system.details.morale}}"
                data-pass="lte"
                data-rollmode="blindroll"
                data-label="{{localize 'FADE.Actor.morale'}}"
                data-tooltip="{{localize 'FADE.Actor.moraleHint'}}">
         {{localize 'FADE.Actor.morale'}}</label>
      </li>
      <li>
         <input type="text" name="system.treasure" value="{{system.treasure}}" data-dtype="String" data-tooltip="{{system.treasure}}" />
         <label data-tooltip="{{localize 'FADE.Actor.Treasure.long'}}">{{localize 'FADE.Actor.Treasure.short'}}</label>
      </li>
      <li class="flex1">
         <input type="text" name="system.details.xpAward" value="{{system.details.xpAward}}" data-dtype="String" />
         <label>{{localize 'FADE.Actor.XPAward'}}</label>
      </li>
   </ul>
   <ul class="summary flexrow">
      <li class="flex1" style="max-width:40px">
         <input type="text" name="system.details.attacks" value="{{system.details.attacks}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.Attacks.long'}}" />
         <label data-tooltip="{{localize 'FADE.Actor.Attacks.long'}}">{{localize 'FADE.Actor.Attacks.abbr'}}</label>
      </li>
      <li class="flex1" style="max-width:40px">
         <input type="text" name="system.details.abilityCount" value="{{system.details.abilityCount}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.AbilityCount.long'}}" />
         <label data-tooltip="{{localize 'FADE.Actor.AbilityCount.long'}}">{{localize 'FADE.Actor.AbilityCount.abbr'}}</label>
      </li>
      <li class="flex1" style="max-width:35px">
         <label>{{localize "FADE.Actor.THAC0"}}</label>
         <input type="text" name="system.thac0.value" value="{{@root.system.thac0.value}}" data-dtype="Number" />
      </li>
      <li class="flex1" style="max-width:35px">
         <label>{{localize "FADE.Actor.THBonus"}}</label>
         <input type="text" name="system.thbonus" value="{{@root.system.thbonus}}" data-dtype="Number" readonly/>
      </li>
      <li class="flex1" style="max-width:40px">
         <input type="text" name="system.abilities.int.value" value="{{system.abilities.int.value}}" data-dtype="String" data-tooltip="{{localize 'FADE.Actor.Abilities.int.long'}}" />
         <label data-tooltip="{{localize 'FADE.Actor.Abilities.int.long'}}">Int.</label>
      </li>
      <li class="flex2">
         <input type="text" name="system.details.monsterType" value="{{system.details.monsterType}}" data-dtype="String" data-tooltip="{{system.details.monsterType}}" />
         <label>{{localize 'Type'}}</label>
      </li>
      <li class="flex1">
         <input type="text" name="system.details.rarity" value="{{system.details.rarity}}" data-dtype="String" data-tooltip="{{system.details.rarity}}" />
         <label>{{localize 'FADE.Actor.rarity'}}</label>
      </li>
   </ul>
</div>