<section class="flexrow">
   <section class="flex1" style="max-width: 180px;">
      {{> "systems/fantastic-depths/templates/actor/parts/hp-ac.hbs"}}
      <section class="flexrow">
         {{> "systems/fantastic-depths/templates/actor/parts/saving-throws.hbs"}}
      </section>
      <section class="flexrow">
         <div class="bordered text-center flex1">
            <h4>{{localize 'FADE.Actor.Other'}}</h4>
            <div class="grid grid-2col label-12px">
               <div>
                  <label for="system.wrestling" data-tooltip="{{localize 'FADE.Actor.Wrestling.long'}}">{{localize 'FADE.Actor.Wrestling.short'}}</label>
                  <input name="system.wrestling" type="text" data-dtype="Number" value="{{system.wrestling}}" />
               </div>
               <div>
                  <label for="system.details.saveAs" data-tooltip="{{localize 'FADE.Actor.Saves.saveAs.long'}}">{{localize 'FADE.Actor.Saves.saveAs.abbr'}}</label>
                  <input name="system.details.saveAs" type="text" data-dtype="String" value="{{system.details.saveAs}}" />
               </div>
            </div>
         </div>
      </section>
   </section>
   <section class="flex2">
      <div class="flexrow">
         {{> "systems/fantastic-depths/templates/actor/parts/movement.hbs"}}
         {{> "systems/fantastic-depths/templates/actor/parts/flight.hbs"}}
      </div>
      <div class="bordered">
         {{> "systems/fantastic-depths/templates/item/parts/item-weapons.hbs"}}
         {{> "systems/fantastic-depths/templates/item/parts/item-specialAbilities.hbs"}}
         {{> "systems/fantastic-depths/templates/item/parts/item-armor.hbs"}}
         {{> "systems/fantastic-depths/templates/item/parts/item-gear.hbs"}}
         {{> "systems/fantastic-depths/templates/item/parts/item-treasure.hbs"}}
      </div>
      {{#if system.encumbrance.max}}
      <div class="flexrow flex-group-center bordered" style="margin-top:10px;">
         <span class="flex3">
            Total: ({{system.encumbrance.value}} / {{system.encumbrance.max}}) <span data-tooltip="{{system.encumbrance.desc}}">{{system.encumbrance.label}}</span>
         </span>
         <span class="flex2">
            Base movement: {{system.encumbrance.mv}}
         </span>
      </div>
      {{/if}}
   </section>
</section>