<section class="flexrow">
   <section class="flex1">
      <section class="bordered resources">
         <section class="flexrow">
            <!-- Hit Points -->
            <div class="hit-points">
               <input name="system.hp.value" class="hp-value hp-top" type="text" value="{{system.hp.value}}" data-dtype="Number" title="{{localize 'FADE.Actor.HealthShort'}}" />
               <input name="system.hp.max" class="hp-value hp-bottom" type="text" value="{{system.hp.max}}" data-dtype="Number" title="{{localize 'FADE.Actor.HealthMax'}}" />
               <div class="hp-empty" style="height:{{counter false system.hp.value system.hp.max}}%"></div>
               <div class="hp-full" style="height:{{counter true system.hp.value system.hp.max}}%"></div>
            </div>
            <!-- Armor Class -->
            <div class="armor-class">
               <label class="ac-value ac-top" title="{{localize 'FADE.Armor.long'}}">{{system.ac.total}}</label>
               <div class="ac-value ac-bottom" title="{{localize 'FADE.Armor.naked'}}">{{system.ac.naked}}</div>
               {{#if system.ac.shield}}
               <div class="shield" title="{{localize 'FADE.Armor.shield.long'}} ({{system.ac.shield}})"><i class="fas fa-shield-alt"></i></div>
               {{/if}}
            </div>
         </section>
      </section>
      <section class="flexrow">
         <section class="bordered">
            <!-- Saving Throws -->
            <div class="saving-throws">
               <h4>{{localize 'FADE.Actor.Saves.long'}}</h4>
               {{#each system.savingThrows as |savingThrow key|}}
               <div class="flexrow flex-group-center">
                  <input type="text" name="system.savingThrows.{{key}}.value" value="{{savingThrow.value}}" data-dtype="Number" />
                  <label for="system.savingThrows.{{key}}.value" class="rollable" data-test="generic" data-formula="d20" data-pass="gte" data-target="{{savingThrow.value}}" data-label="{{localize (concat 'FADE.Actor.Saves.' key '.long')}}">
                     {{localize (concat 'FADE.Actor.Saves.' key '.long')}}
                  </label>
               </div>
               {{/each}}
            </div>
         </section>
      </section>
   </section>
   <section class="flex2">
      <section class="bordered">
         {{> "systems/fantastic-depths/templates/item/parts/item-weapons.hbs"}}
         {{> "systems/fantastic-depths/templates/item/parts/item-armor.hbs"}}
         {{> "systems/fantastic-depths/templates/item/parts/item-gear.hbs"}}
      </section>
      <div class="flexrow">
         <section class="bordered text-center flex2">
            <!-- Movement -->
            <h4>{{localize 'FADE.Actor.Movement.long'}}</h4>
            <div class="grid grid-4col label-12px">
               <div>
                  <label for="system.movement.turn">{{localize 'FADE.Actor.Movement.turn'}}</label>
                  <input name="system.movement.turn" type="text" data-dtype="Number" value="{{system.movement.turn}}" />
               </div>
               <div>
                  <label for="system.movement.round">{{localize 'FADE.Actor.Movement.round'}}</label>
                  <input name="system.movement.round" type="text" data-dtype="Number" readonly value="{{system.movement.round}}" />
               </div>
               <div>
                  <label for="system.movement.day">{{localize 'FADE.Actor.Movement.day'}}</label>
                  <input name="system.movement.day" type="text" data-dtype="Number" readonly value="{{system.movement.day}}" />
               </div>
               <div>
                  <label for="system.movement.run">{{localize 'FADE.Actor.Movement.run'}}</label>
                  <input name="system.movement.run" type="text" data-dtype="Number" readonly value="{{system.movement.run}}" />
               </div>
            </div>
         </section>
         <!--<section class="bordered text-center flex1">
            <h4>Other</h4>
            <div class="grid grid-2col label-12px">
               <div>
                  <label>{{localize "FADE.Actor.THAC0"}}</label>
                  <input type="text" name="system.thac0.value" value="{{@root.system.thac0.value}}" data-dtype="Number" />
               </div>
               <div>
                  <label for="system.wrestling" title="{{localize 'FADE.Actor.Wrestling.long'}}">{{localize 'FADE.Actor.Wrestling.short'}}</label>
                  <input name="system.wrestling" type="text" data-dtype="Number" value="{{system.wrestling}}" />
               </div>
            </div>
         </section>-->
      </div>
   </section>
</section>