<section class="tab abilities {{tabs.abilities.cssClass}}" data-group="primary" data-tab="abilities">
   <div class="flexrow align-vtop">
      <div class="flex1" style="max-width: 180px;">
         {{> "actorHpAc"}}
         {{#if savingThrows}}
         <div class="flexrow">
            <!-- SAVING THROWS -->
            {{> "actorSaves"}}
         </div>
         {{/if}}
      </div>
      <div class="flex2">
         {{#if (fadeor attackGroups specialAbilities)}}
         <div class="bordered">
            {{#if attackGroups}}
            {{!-- Equipped Weapons --}}
            {{> "attackGroups"}}
            {{/if}}
            {{#if specialAbilities}}
            {{!-- Special Abilities --}}
            {{> "actorSpecialAbilities"}}
            {{/if}}
         </div>
         {{/if}}
         {{#if (or system.encumbrance.max system.encumbrance.mv)}}
         <div class="flexrow flex-group-center bordered" style="margin-top:10px;">
            <span class="flex3">
               Total: ({{system.encumbrance.value}} / {{system.encumbrance.max}}) <span data-tooltip="{{system.encumbrance.desc}}">{{system.encumbrance.label}}</span>
            </span>
            {{#if system.encumbrance.mv}}
            <span class="flex2">
               Base movement: {{system.encumbrance.mv}}
            </span>
            {{/if}}
         </div>
         {{/if}}

         <div class="flexrow">
            <div class="bordered text-center">
               {{> "actorMovement"}}
            </div>
            {{> "actorMovement2"}}
         </div>
      </div>
   </div>
</section>