{{!-- VS Group Modifiers --}}
{{#if isGM}}
<div class="bordered">
   <div style="max-width: 150px;">
      <button type="button" data-action="addVsGroup">
         <i class="fas fa-plus"></i> {{localize 'FADE.Actor.actorGroups.addVsGroupButton'}}
      </button>
   </div>
   <div class="flexrow tag-section">
      <div class="flex3">
         {{#if vsGroupData}}
         <table class="table table-striped">
            <thead>
               <tr>
                  <th style="min-width: 160px;">{{localize 'FADE.Actor.actorGroups.group'}}</th>
                  <th style="max-width: 100px;">{{localize 'FADE.Weapon.mod.dmg.short'}}</th>
                  <th style="max-width: 100px;">{{localize 'FADE.Weapon.mod.toHit.short'}}</th>
                  <th style="min-width: 160px;">{{localize 'FADE.Actor.Other'}}</th>
                  <th style="min-width: 80px;"></th>
               </tr>
            </thead>
            <tbody>
               {{#each vsGroupData as |group|}}
               <tr data-group-id="{{group.id}}">
                  <td>{{group.name}}</td>
                  <td>
                     <input type="number" name="system.mod.vsGroup.{{group.id}}.dmg" value="{{group.dmg}}" data-dtype="Number" />
                  </td>
                  <td>
                     <input type="number" name="system.mod.vsGroup.{{group.id}}.toHit" value="{{group.toHit}}" data-dtype="Number" />
                  </td>
                  <td>
                     {{#if (isnull group.special)}}
                     <span>--</span>
                     {{else}}
                     <input type="text" name="system.mod.vsGroup.{{group.id}}.special" value="{{group.special}}" data-dtype="String" />
                     {{/if}}
                  </td>
                  <td>
                     <a class="item-control" data-action="deleteVsGroup" data-group-id="{{group.id}}">
                        <i class="fas fa-trash"></i>
                     </a>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
         {{else}}
         <p><em>{{localize 'FADE.Actor.actorGroups.noGroupMod'}}</em></p>
         {{/if}}
      </div>
   </div>
</div>
{{/if}}