<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
   {{!-- Sheet Header --}}
   {{> "characterHeader"}}
   {{!-- Sheet Tab Navigation --}}
   <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in fadeActorSheet.mjs --}}
      <a class="item" data-tab="abilities">{{localize 'FADE.tabs.abilities'}}</a>
      {{#if isOwner}}
      <a class="item" data-tab="items">{{localize 'FADE.tabs.items'}}</a>
      <a class="item" data-tab="skills">{{localize 'FADE.tabs.skills'}}</a>
      {{#if isSpellcaster}}
      <a class="item" data-tab="spells">{{localize 'FADE.tabs.spells'}}</a>
      {{/if}}
      <a class="item" data-tab="description">{{localize 'FADE.tabs.description'}}</a>
      {{/if}}
      {{#if isGM}}
      <a class="item" data-tab="effects">{{localize 'FADE.tabs.effects'}}</a>
      <a class='item' data-tab='gm-only'>{{localize 'FADE.tabs.gmOnly'}}</a>
      {{/if}}
   </nav>
   {{!-- Sheet Body --}}
   <section class="sheet-body">
      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
         <!-- ABILITY SCORES -->
         {{> "abilityScores"}}
         <div class="flexrow">
            <!-- SAVING THROWS -->
            {{> "actorSaves"}}
            <div>
               <!--HIT POINTS & ARMOR CLASS-->
               {{> "actorHpAc"}}
               <!-- MOVEMENT -->
               <div class="bordered text-center" style="height:48%;">
                  {{> "actorMovement"}}
               </div>
            </div>
            <div>
               <!-- EXPLORATION -->
               {{> "actorExploration"}}
            </div>
         </div>
         <!-- Equipped Weapons -->
         <div class="flexrow">
            {{> "actorEquippedWeapons"}}
         </div>
      </div>
      {{#if isOwner}}
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         {{> "actorItems"}}
      </div>
      {{!-- Owned Skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
         {{> "actorSkills"}}
      </div>
      {{#if isSpellcaster}}
      {{!-- Owned Spells Tab --}}
      <div class="tab spells" data-group="primary" data-tab="spells">
         {{> "actorSpells"}}
      </div>
      {{/if}}
      {{!-- Active Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "actorEffects"}}
      </div>
      {{!-- Description Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
         {{> "characterDesc"}}
      </div>
      {{/if}}
      {{! GM-Only Tab }}
      {{#if isGM}}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         {{> "actorGmOnly"}}
      </div>
      {{/if}}
   </section>
</form>