<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
   <!-- NAVIGATION TABS -->
   <div class="nav-tabs-right sheet-tabs tabs" data-group="primary">
      <div class="nav-tab">
         <a class="item" data-tab="abilities" data-tooltip="{{localize 'FADE.tabs.abilities'}}">
            <img src="/systems/fantastic-depths/assets/img/ui/big-gear.svg" />
         </a>
      </div>
      {{#if isOwner}}
      <div class="nav-tab">
         <a class="item" data-tab="items" data-tooltip="{{localize 'FADE.tabs.items'}}">
            <img src="/systems/fantastic-depths/assets/img/ui/battle-gear.svg" />
         </a>
      </div>
      <div class="nav-tab">
         <a class="item" data-tab="skills" data-tooltip="{{localize 'FADE.tabs.skills'}}">
            <img src="/systems/fantastic-depths/assets/img/ui/skills.svg" />
         </a>
      </div>
      {{#if isSpellcaster}}
      <div class="nav-tab">
         <a class="item" data-tab="spells" data-tooltip="{{localize 'FADE.tabs.spells'}}">
            <img src="/systems/fantastic-depths/assets/img/ui/spell-book.svg" />
         </a>
      </div>
      {{/if}}
      <div class="nav-tab">
         <a class="item" data-tab="description" data-tooltip="{{localize 'FADE.tabs.description'}}">
            <img src="/systems/fantastic-depths/assets/img/ui/quill-ink.svg" />
         </a>
      </div>
      {{/if}}
      {{#if isGM}}
      <div class="nav-tab">
         <a class="item" data-tab="effects" data-tooltip="{{localize 'FADE.tabs.effects'}}">
            <img src="/systems/fantastic-depths/assets/img/ui/internal-injury.svg" />
         </a>
      </div>
      <div class="nav-tab">
         <a class='item' data-tab='gm-only' data-tooltip="{{localize 'FADE.tabs.gmOnly'}}">
            <img src="/systems/fantastic-depths/assets/img/ui/lock-spy.svg" />
         </a>
      </div>
      {{/if}}
   </div>
   {{!-- Sheet Body --}}
   <section class="sheet-body">
      <!--<div style="display:flex;">
         <img src="systems/fantastic-depths/assets/img/ui/leaf-path3.png" style="width:520px;margin:auto;filter:brightness(50%)"/>
      </div>-->
      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
         {{!-- Sheet Header --}}
         {{> "characterHeader"}}
         <!-- ABILITY SCORES -->
         {{> "abilityScores"}}
         <div class="flexrow">
            <!-- SAVING THROWS -->
            {{> "actorSaves"}}
            <div>
               <!--HIT POINTS & ARMOR CLASS-->
               {{> "actorHpAc"}}
               <!-- MOVEMENT -->
               <div class="bordered text-center" style="height:48%;">
                  {{> "actorMovement"}}
               </div>
            </div>
            <div>
               <!-- EXPLORATION -->
               {{> "actorExploration"}}
            </div>
         </div>
         <!-- Equipped Weapons -->
         <div class="flexrow">
            {{> "actorEquippedWeapons"}}
         </div>
      </div>
      {{#if isOwner}}
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         <h2>{{localize 'FADE.tabs.items'}}</h2>
         {{> "actorItems"}}
      </div>
      {{!-- Owned Skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
         <h2>{{localize 'FADE.tabs.skills'}}</h2>
         {{> "actorSkillTab"}}
      </div>
      {{#if isSpellcaster}}
      {{!-- Owned Spells Tab --}}
      <div class="tab spells" data-group="primary" data-tab="spells">
         <h2>{{localize 'FADE.tabs.spells'}}</h2>
         {{> "actorSpells"}}
      </div>
      {{/if}}
      {{!-- Active Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
         <h2>{{localize 'FADE.tabs.effects'}}</h2>
         {{> "actorEffects"}}
      </div>
      {{!-- Description Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
         <h2>{{localize 'FADE.tabs.description'}}</h2>
         {{> "characterDesc"}}
      </div>
      {{/if}}
      {{! GM-Only Tab }}
      {{#if isGM}}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         {{> "actorGmOnly"}}
      </div>
      {{/if}}
   </section>
</form>
