<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

   {{!-- Sheet Header --}}
   <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <div class="header-fields">
         <ul class="summary flexrow">
            <li class="flex3">
               <div class="charname">
                  <input name="name" class="charname" type="text" value="{{actor.name}}" placeholder="Name" />
                  <label>{{localize 'FADE.Actor.Name'}}</label>
               </div>
            </li>
            <li class="flex2" style="max-width:100px;">
               <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" data-dtype="String" />
               <label>{{localize 'FADE.Actor.Alignment'}}</label>
            </li>
            <li class="flex1" style="max-width:40px;">
               <input type="text" name="system.details.size" value="{{system.details.size}}" data-dtype="String" />
               <label>{{localize 'FADE.Size'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex1">
               <input class="hitdie" name="system.hp.hd" type="text" value="{{system.hp.hd}}" data-dtype="String" title="{{localize 'FADE.Actor.HitDice'}}" />
               <label class="hitdie rollable" data-formula="{{formatHitDice system.hp.hd}}" data-label="{{localize 'FADE.Actor.HitDice'}}">{{localize 'FADE.Actor.HitDiceShort'}}</label>
            </li>
            <li class="flex2" style="max-width:90px">
               <input type="text" name="system.na.wandering" value="{{system.na.wandering}}" data-dtype="String" title="{{localize 'FADE.Actor.NumberAppearing.long'}}" />
               <label class="rollable" data-formula="{{system.na.wandering}}" data-label="{{localize 'FADE.Actor.NumberAppearing.long'}}" title="{{localize 'FADE.Actor.NumberAppearing.long'}}">{{localize 'FADE.Actor.NumberAppearing.short'}}</label>
            </li>
            <li class="flex2" style="max-width:90px">
               <input type="text" name="system.na.lair" value="{{system.na.lair}}" data-dtype="String" title="{{localize 'FADE.Actor.NumberAppearing.longLair'}}" />
               <label class="rollable" data-formula="{{system.na.lair}}" data-label="{{localize 'FADE.Actor.NumberAppearing.longLair'}}" title="{{localize 'FADE.Actor.NumberAppearing.longLair'}}">{{localize 'FADE.Actor.NumberAppearing.abbrLair'}}</label>
            </li>
            <li class="flex1">
               <input type="number" name="system.details.morale" value="{{system.details.morale}}" data-dtype="String" />
               <label>{{localize 'FADE.Actor.Morale'}}</label>
            </li>
            <li class="flex1">
               <input type="text" name="system.treasure" value="{{system.treasure}}" data-dtype="String" title="{{localize 'FADE.Actor.Treasure.long'}}" />
               <label title="{{localize 'FADE.Actor.Treasure.long'}}">{{localize 'FADE.Actor.Treasure.short'}}</label>
            </li>
            <li class="flex1">
               <input type="text" name="system.details.xpAward" value="{{system.details.xpAward}}" data-dtype="String" />
               <label>{{localize 'FADE.Actor.XPAward'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex1" style="max-width:40px">
               <input type="text" name="system.details.attacks" value="{{system.details.attacks}}" data-dtype="String" title="{{localize 'FADE.Actor.Attacks.long'}}" />
               <label title="{{localize 'FADE.Actor.Attacks.long'}}">{{localize 'FADE.Actor.Attacks.abbr'}}</label>
            </li>
            <li class="flex1" style="max-width:40px">
               <input type="text" name="system.details.abilityCount" value="{{system.details.abilityCount}}" data-dtype="String" title="{{localize 'FADE.Actor.AbilityCount.long'}}" />
               <label title="{{localize 'FADE.Actor.AbilityCount.long'}}">{{localize 'FADE.Actor.AbilityCount.abbr'}}</label>
            </li>
            <li class="flex1" style="max-width:35px">
               <label>{{localize "FADE.Actor.THAC0"}}</label>
               <input type="text" name="system.thac0.value" value="{{@root.system.thac0.value}}" data-dtype="Number" />
            </li>
            <li class="flex1" style="max-width:40px">
               <input type="text" name="system.details.intelligence" value="{{system.details.intelligence}}" data-dtype="String" title="{{localize 'FADE.Actor.Abilities.int.long'}}" />
               <label title="{{localize 'FADE.Actor.Abilities.int.long'}}">Int.</label>
            </li>
            <li class="flex2">
               <input type="text" name="system.details.monsterType" value="{{system.details.monsterType}}" data-dtype="String" />
               <label>{{localize 'FADE.Type'}}</label>
            </li>
         </ul>
      </div>
   </header>

   {{!-- Sheet Tab Navigation --}}
   <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in fadeActorSheet.mjs --}}
      <a class="item" data-tab="abilities">{{localize 'FADE.Actor.Tabs.Abilities'}}</a>
      <a class="item" data-tab="effects">{{localize 'FADE.Actor.Tabs.Effects'}}</a>
      <a class="item" data-tab="spells">{{localize 'FADE.Actor.Tabs.Spells'}}</a>
      <a class="item" data-tab="description">{{localize 'FADE.Actor.Tabs.Description'}}</a>
      {{#if isGM}}<a class='item' data-tab='gm-only'>GM Only</a>{{/if}}
   </nav>

   {{!-- Sheet Body --}}
   <section class="sheet-body">
      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
         {{> "systems/fantastic-depths/templates/actor/parts/monster-abilities.hbs"}}
      </div>
      {{!-- Owned Spells Tab --}}
      <div class="tab spells" data-group="primary" data-tab="spells">
         {{> "systems/fantastic-depths/templates/actor/parts/actor-spells.hbs"}}
      </div>
      {{!-- Description Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
         {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
         {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
      </div>
      {{! GM-Only Tab }}
      {{#if isGM}}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         <!-- Content that only the GM should see goes here -->
         <label for="gm-notes">GM Notes:</label>
         <textarea id="gm-notes" name="system.gm.notes" rows="18">{{system.gm.notes}}</textarea>
         <!-- You can add more GM-specific content here -->
      </div>
      {{/if}}
   </section>
</form>
