<form class="{{cssClass}} character flexcol" autocomplete="off">

   <header class="sheet-header">
      {{> "characterHeader"}}
   </header>

   {{!-- Sheet Tab Navigation --}}
   <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in fadeActorSheet.mjs --}}
      <a class="item" data-tab="abilities">{{localize 'FADE.tabs.abilities'}}</a>
      <a class="item" data-tab="items">{{localize 'FADE.tabs.items'}}</a>
      <a class="item" data-tab="skills">{{localize 'FADE.tabs.skills'}}</a>
      {{#if isSpellcaster}}
      <a class="item" data-tab="spells">{{localize 'FADE.tabs.spells'}}</a>
      {{/if}}
      <a class="item" data-tab="description">{{localize 'FADE.tabs.description'}}</a>
      {{#if isGM}}
      <a class="item" data-tab="effects">{{localize 'FADE.tabs.effects'}}</a>
      <a class='item' data-tab='gm-only'>{{localize 'FADE.tabs.gmOnly'}}</a>
      {{/if}}
   </nav>

   {{!-- Sheet Body --}}
   <section class="sheet-body">
      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
         {{> "characterAbilities"}}
      </div>
      {{!-- Description Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
         {{> "systems/fantastic-depths/templates/actor/parts/character-desc.hbs"}}
      </div>
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         {{> "actorItems"}}
      </div>
      {{#if isSpellcaster}}
      {{!-- Owned Spells Tab --}}
      <div class="tab spells" data-group="primary" data-tab="spells">
         {{> "actorSpells"}}
      </div>
      {{/if}}
      {{!-- Owned Skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
         {{> "actorSkills"}}
      </div>
      {{! GM-Only Tab }}
      {{#if isGM}}
      {{!-- Active Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">
         {{> "actorEffects"}}
      </div>
      <div class='tab' data-group='primary' data-tab='gm-only'>
         {{> "actorGmOnly"}}
      </div>
      {{/if}}
   </section>
</form>
