<form class="{{cssClass}} character flexcol" autocomplete="off">

   <header class="sheet-header">
      {{> "systems/fantastic-depths/templates/actor/parts/character-header.hbs"}}
   </header>

   {{!-- Sheet Tab Navigation --}}
   <nav class="sheet-tabs tabs" data-group="primary">
      {{!-- Default tab is specified in fadeActorSheet.mjs --}}
      <a class="item" data-tab="abilities">{{localize 'FADE.Actor.Tabs.Abilities'}}</a>
      <a class="item" data-tab="items">{{localize 'FADE.Actor.Tabs.Items'}}</a>
      <a class="item" data-tab="skills">{{localize 'FADE.Actor.Tabs.Skills'}}</a>
      {{#if system.config.isSpellcaster}}
      <a class="item" data-tab="spells">{{localize 'FADE.Actor.Tabs.Spells'}}</a>
      {{/if}}
      <a class="item" data-tab="description">{{localize 'FADE.Actor.Tabs.Description'}}</a>
      {{#if isGM}}
      <a class="item" data-tab="effects">{{localize 'FADE.Actor.Tabs.Effects'}}</a>
      <a class='item' data-tab='gm-only'>GM Only</a>
      {{/if}}
   </nav>

   {{!-- Sheet Body --}}
   <section class="sheet-body">
      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
         {{> "systems/fantastic-depths/templates/actor/parts/character-abilities.hbs"}}
      </div>
      {{!-- Description Tab --}}
      <div class="tab biography" data-group="primary" data-tab="description">
         {{> "systems/fantastic-depths/templates/actor/parts/character-desc.hbs"}}
      </div>
      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         {{> "systems/fantastic-depths/templates/actor/parts/actor-items.hbs"}}
      </div>
      {{#if system.config.isSpellcaster}}
      {{!-- Owned Spells Tab --}}
      <div class="tab spells" data-group="primary" data-tab="spells">
         {{> "systems/fantastic-depths/templates/actor/parts/actor-spells.hbs"}}
      </div>
      {{/if}}
      {{!-- Owned Skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
         {{> "systems/fantastic-depths/templates/actor/parts/actor-skills.hbs"}}
      </div>
      {{! GM-Only Tab }}
      {{#if isGM}}
      {{!-- Active Effects Tab --}}
      <div class="tab effects flexcol" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/actor/parts/actor-effects.hbs"}}
      </div>
      <div class='tab' data-group='primary' data-tab='gm-only'>
         {{> "systems/fantastic-depths/templates/actor/parts/actor-gm-only.hbs"}}
      </div>
      {{/if}}
   </section>
</form>
