<section name="itemsTab" class="tab {{tabs.items.cssClass}}" data-group="primary" data-tab="items">
   <input type="text" name="search" placeholder="{{localize 'FADE.Search'}}" autocomplete="off" />
   {{> "actorWeapons"}}
   {{> "actorAmmo"}}
   {{> "actorArmor"}}
   {{> "actorGearList"}}
   {{> "actorTreasure"}}
<div class="flexrow flex-group-center bordered" style="margin-top:10px;">
   <span class="flex3">
      {{#if showWeight}}
      {{localize 'FADE.Actor.Movement.total'}}: ({{system.encumbrance.value}} / {{system.encumbrance.max}}) <span data-tooltip="{{system.encumbrance.desc}}">{{system.encumbrance.label}}</span>
      {{/if}}
      {{#if isBasicEnc}}
      <span data-tooltip="{{system.encumbrance.desc}}">{{system.encumbrance.label}}</span>
      {{/if}}
   </span>
   {{#if system.encumbrance.mv}}
   <span class="flex2">
      {{localize 'FADE.Actor.Movement.moveTurn'}}: {{system.encumbrance.mv}}
   </span>
   {{/if}}
</div>
</section>