<div name="specialAbilityItems" class='items-list'>
   <div class='item flexrow items-header' data-action="toggleHeader">
      <div class='item-name'>{{localize 'FADE.SpecialAbility.plural'}}</div>
      <div class='item-controls'>
         {{#if @root.isGM}}
         <a class='item-control'
            data-action="createItem"
            data-type='specialAbility'
            data-tooltip='{{localize "DOCUMENT.Create" type=(localize "FADE.SpecialAbility.long")}}'>
            <i class='fas fa-plus'></i>
            {{localize 'FADE.SpecialAbility.short'}}
         </a>
         {{/if}}
      </div>
   </div>
   {{#each specialAbilities as |item id|}}
   <div class='item collapsible-content{{#unless item.system.quantityMax }} bottom-border{{/unless}}{{#if (eq item.system.quantity 0)}} warning-bkgd{{/if}}' data-item-id='{{item._id}}'>
      <div class="flexrow">
         <div class='item-name'>
            <div class="item-image rollable2"
                 data-action="rollItem"
                 data-roll-type='item'
                 data-label="{{item.name}} {{localize 'FADE.SpecialAbility.short'}}">
               <img src='{{item.img}}'
                    {{#if (or (eq item.system.rollFormula null) (eq item.system.rollFormula ''))}}
                    data-tooltip='{{item.name}}'
                    {{else}}
                    data-tooltip='{{localize 'FADE.rollWithCtrl' name=item.name}}'
                    {{/if}}
                    width='24' height='24' />
            </div>
            <a class="item-control" data-action="expandDesc" data-tooltip='{{localize "FADE.dialog.spellcast.noLabel"}}'>{{item.name}}</a>
         </div>
         <div class='item-controls'>
            <a class="item-control"
               data-action="editItem"
               data-tooltip='{{localize "DOCUMENT.Update" type=(localize "FADE.SpecialAbility.long")}}'>
               <i class='fas fa-pencil'></i>
            </a>
            {{#if @root.isGM}}
            <a class='item-control'
               data-action="deleteItem"
               data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.SpecialAbility.long")}}'>
               <i class='fas fa-trash'></i>
            </a>
            {{/if}}
         </div>
      </div>
      <div class='item-description desc-collapsed bordered'></div>
   </div>
   {{#if item.system.quantityMax }}
   <div class='flexrow item collapsible-content bottom-border{{#if (eq item.system.quantity 0)}} warning-bkgd{{/if}}' data-item-id='{{item._id}}'>
      <div class="consumable-counter">
         <label>{{localize 'FADE.Item.uses'}}</label>
         {{#times item.system.quantity}}
         <div class="full-mark" data-action="useConsumable"></div>
         {{/times}} {{#times (subtract item.system.quantityMax item.system.quantity)}}
         <div class="empty-mark" data-action="addConsumable"></div>
         {{/times}}
      </div>
   </div>
   {{/if}}
   {{/each}}
</div>