<section class='tab {{tabs.attributes.cssClass}}' data-group='primary' data-tab='attributes'>
   {{! Ability score minimums }}
   <div class="bordered">
      <h4>{{localize 'FADE.species.requiredScores'}}</h4>
      <div class="flexrow" style="margin-top:10px;">
         {{#each system.abilities as |ability key|}}
         <div>
            <div class="flex-group-center">
               <input type="text" style="max-width:50px" name="system.abilities.{{key}}.min" value="{{ability.min}}" data-dtype="Number" />
            </div>
            <div class="flex-group-center">
               <label for="system.abilities.{{key}}.value" style="font-size: 12px;text-align:center;" class="flex0 abbr">
                  {{localize (concat 'FADE.Actor.Abilities.' key '.abbr')}} {{localize 'FADE.Actor.Min'}}
               </label>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
   {{! Classes }}
   <div class="bordered">
      <h4>{{localize 'FADE.species.classes'}}</h4>
      <ol name="class-abilities" class='items-list'>
         <!-- Header Row -->
         <li class='item flexrow items-header'>
            <div>{{localize 'FADE.name'}}</div>
            <div style="max-width:80px">{{localize 'FADE.Actor.maxLevel.name'}}</div>
            <div class='item-controls'>
               <a class='item-control item-create' data-tooltip='{{localize "DOCUMENT.Create" type=(localize "FADE.Actor.Class")}}' data-type='class'>
                  <i class='fas fa-plus'></i>
                  {{localize 'FADE.Actor.Class'}}
               </a>
            </div>
         </li>
         <!-- Class Ability Entries -->
         {{#each system.classes as |item index|}}
         <li class='item flexrow'>
            <div>
               <input type="text" style="text-align:left;" name="system.classes.{{index}}.name" value="{{item.name}}" data-dtype="String" />
            </div>
            <div style="max-width:80px">
               <input type="number" name="system.classes.{{index}}.maxLevel" value="{{item.maxLevel}}" data-dtype="Number" />
            </div>
            <div class='item-controls'>
               <a class='item-control item-delete' data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.Actor.Class")}}' data-type='class' data-index='{{index}}'>
                  <i class='fas fa-trash'></i>
               </a>
            </div>
         </li>
         {{/each}}
      </ol>
   </div>
   {{! Other Stuff }}
   <div class="bordered">
      <ul class="summary flexrow">
         <li>
            <input type="text" name="system.baseMovement" value="{{system.baseMovement}}" data-dtype="String" />
            <label for="system.baseMovement" data-tooltip="{{FADE.Actor.Movement.turnHint}}">{{localize 'FADE.Actor.Movement.moveTurn'}}</label>
         </li>
         <li>
            <input type="text" name="system.heightFormulaM" value="{{system.heightFormulaM}}" data-dtype="String" data-tooltip="{{system.heightFormulaM}}" />
            <label class="rollable" data-action="clickRoll" data-formula="{{system.heightFormulaM}}" data-label="{{localize 'FADE.Actor.Height'}} ({{localize 'FADE.species.male'}})" for="system.heightFormulaM">{{localize 'FADE.Actor.Height'}} ({{localize 'FADE.species.male'}})</label>
         </li>
         <li>
            <input type="text" name="system.weightFormulaM" value="{{system.weightFormulaM}}" data-dtype="String" data-tooltip="{{system.weightFormulaM}}" />
            <label class="rollable" data-action="clickRoll" data-formula="{{system.weightFormulaM}}" data-label="{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.male'}})" for="system.weightFormulaM">{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.male'}})</label>
         </li>
         <li>
            <input type="text" name="system.heightFormulaF" value="{{system.heightFormulaF}}" data-dtype="String" data-tooltip="{{system.heightFormulaF}}" />
            <label class="rollable" data-action="clickRoll" data-formula="{{system.heightFormulaF}}" data-label="{{localize 'FADE.Actor.Height'}}" for="system.heightFormulaF">{{localize 'FADE.Actor.Height'}} ({{localize 'FADE.species.female'}})</label>
         </li>
         <li>
            <input type="text" name="system.weightFormulaF" value="{{system.weightFormulaF}}" data-dtype="String" data-tooltip="{{system.weightFormulaF}}" />
            <label class="rollable" data-action="clickRoll" data-formula="{{system.weightFormulaF}}" data-label="{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.female'}})" for="system.weightFormulaF">{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.female'}})</label>
         </li>
      </ul>
   </div>
   {{! Languages }}
   <div class="bordered">
      <div class="flexrow tag-section">
         <div class="flex0 add-tag">
            {{#if isGM}}
            <input type="text" data-action="addLanguage" placeholder="{{localize 'FADE.Tags.addLanguage'}}" data-tooltip="{{localize 'FADE.Tags.languageDesc'}}" />
            {{/if}}
         </div>
         <div class="flex3">
            <div class="flexrow">
               <ol class="tag-list" style="height:auto;line-height: 15px;">
                  {{#each system.languages as |language|}}
                  <li class="tag" data-tag="{{language}}">
                     <span>{{language}}</span>
                     {{#if @root.isGM}}
                     <a data-action="deleteLanguage"><i class="fas fa-times"></i></a>
                     {{/if}}
                  </li>
                  {{/each}}
               </ol>
            </div>
         </div>
      </div>
   </div>
</section>
