<header class='sheet-header'>
   <img class='profile-img' src='{{item.img}}' data-action="editImage" data-edit="img" style="width:86px; height:86px;" />
   <div class='header-fields'>
      <div class="summary flexrow">
         <div class='charname'>
            <input type='text' name='name' value='{{item.name}}' placeholder='Name' {{#unless isGM}} readonly{{/unless}} />
         </div>
      </div>
      <div class="summary flexrow">
         <div>
            <input type="text" name="system.heightFormulaM" value="{{system.heightFormulaM}}" data-dtype="String" data-tooltip="{{system.heightFormulaM}}" />
            <label class="rollable2" data-action="clickRoll" data-formula="{{system.heightFormulaM}}" data-label="{{localize 'FADE.Actor.Height'}} ({{localize 'FADE.species.male'}})" for="system.heightFormulaM">{{localize 'FADE.Actor.Height'}} ({{localize 'FADE.species.male'}})</label>
         </div>
         <div>
            <input type="text" name="system.weightFormulaM" value="{{system.weightFormulaM}}" data-dtype="String" data-tooltip="{{system.weightFormulaM}}" />
            <label class="rollable2" data-action="clickRoll" data-formula="{{system.weightFormulaM}}" data-label="{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.male'}})" for="system.weightFormulaM">{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.male'}})</label>
         </div>
         <div>
            <input type="text" name="system.heightFormulaF" value="{{system.heightFormulaF}}" data-dtype="String" data-tooltip="{{system.heightFormulaF}}" />
            <label class="rollable2" data-action="clickRoll" data-formula="{{system.heightFormulaF}}" data-label="{{localize 'FADE.Actor.Height'}}" for="system.heightFormulaF">{{localize 'FADE.Actor.Height'}} ({{localize 'FADE.species.female'}})</label>
         </div>
         <div>
            <input type="text" name="system.weightFormulaF" value="{{system.weightFormulaF}}" data-dtype="String" data-tooltip="{{system.weightFormulaF}}" />
            <label class="rollable2" data-action="clickRoll" data-formula="{{system.weightFormulaF}}" data-label="{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.female'}})" for="system.weightFormulaF">{{localize 'FADE.Actor.Weight'}} ({{localize 'FADE.species.female'}})</label>
         </div>
      </div>
   </div>
</header>