{{#if actorName}}
<div class="text-size16">{{actorName}}</div>
{{/if}}
<div class="flexrow">
   <div class="flex1">{{localize (concat 'FADE.Actor.Abilities.' mdata.ability '.long')}} ({{mdata.score}})</div>
   <div class="flex1">{{localize 'FADE.dialog.difficulty.name'}}: {{localize (concat 'FADE.dialog.difficulty.levels.' context.difficulty)}}</div>
</div>
{{#if resultString}}
<div style="margin-top:6px;">
   {{{resultString}}}
</div>
{{/if}}
{{#if rollContent}}
{{{rollContent}}}
{{/if}}
<div name="digest" class="digest">{{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
