<!--<div>Ability check for {{actorName}}</div>-->
<b>{{localize (concat 'FADE.Actor.Abilities.' mdata.ability '.long')}}</b> ({{mdata.score}})
<br>
<hr>
{{#if resultString}}{{{resultString}}}{{/if}}
{{{rollContent}}}
