{{#each conditions as |condition|}}
<div>
   <button type="button" class="apply-condition"
           data-uuid="{{condition.uuid}}" 
           data-name="{{condition.name}}"
           data-duration="{{condition.duration}}">
      <i class="fa-solid fa-share"></i>
      <span>{{localize "FADE.Chat.apply"}} {{condition.name}}</span>
   </button>
</div>
{{/each}}