<div>
   <div class="attack-desc">{{description}}</div>
   {{#if toHitResult.message}}
   <div class="attack-result">{{{toHitResult.message}}}</div>
   {{/if}}
</div>
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{weapon.img}}' title='{{weapon.name}}' />
      <div class="item-name">{{weapon.name}}</div>
   </div>
   <div class="collapsible-content collapsed">
      {{{weapon.system.description}}}
   </div>
</div>
{{#if rollContent}}
{{{rollContent}}}
{{/if}}
<div name="digest" class="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{#if weapon.system.savingThrow}}
<div style="margin-top:6px;">
   <button class="saving-roll"
           data-attackerid="{{descData.attackerid}}"
           data-type="{{weapon.system.savingThrow}}"
           data-weaponid="{{weapon.id}}">
      <i class="fa-solid fa-life-ring"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Actor.Saves.singular'}}</span>: <span class="small-text">{{localize (concat 'FADE.Actor.Saves.' weapon.system.savingThrow '.abbr')}}</span>
   </button>
</div>
{{/if}}
{{#if damageRoll.hasDamage}}
<div style="margin-top:8px;">
   <button class="damage-roll"
           data-attacktype="{{resp.attackType}}"
           data-damagetype="{{damageRoll.type}}"
           data-attackmode="{{resp.attackMode}}"
           data-label="Damage"
           data-type="damage"
           data-attackerid="{{descData.attackerid}}"
           data-targetweapontype="{{targetWeaponType}}"
           data-weaponid="{{weapon.id}}">
      <i class="fa-solid fa-burst"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Chat.damageRoll.name'}} {{damageRoll.formula}}</span> <span class="small-text">{{damageRoll.type}}</span>
   </button>
</div>
{{/if}}