<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{weaponItem.img}}' />
      <div class="item-name">{{weaponItem.knownName}}</div>
   </div>
   <div class="collapsible-content collapsed">
      {{{weaponItem.knownDescription}}}
   </div>
</div>
<div>
   <div class="attack-desc">{{description}}</div>
   {{#if toHitResult.message}}
   <div class="attack-result">{{{toHitResult.message}}}</div>
   {{/if}}
</div>
{{#if ammoItem}}
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{ammoItem.img}}' />
      <div class="item-name">{{ammoItem.knownName}}</div>
   </div>
   <div class="collapsible-content collapsed">
      {{{ammoItem.system.knownDescription}}}
   </div>
</div>
{{/if}}
{{#if rollContent}}
{{{rollContent}}}
{{/if}}
<div name="digest" class="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{> "rollSaveBtn"}}