<div>
   <div class="attack-desc">{{description}}</div>
   {{#if toHitResult.message}}
   <div class="attack-result">{{{toHitResult.message}}}</div>
   {{/if}}
</div>
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{weapon.img}}' />
      {{#if (ne weapon.system.isIdentified false)}}
      <div class="item-name">{{weapon.name}}</div>
      {{else}}
      <div class="item-name">{{weapon.system.unidentifiedName}}</div>
      {{/if}}
   </div>
   <div class="collapsible-content collapsed">
      {{#if (ne weapon.system.isIdentified false)}}
      {{{weapon.system.description}}}
      {{else}}
      {{{weapon.system.unidentifiedDesc}}}
      {{/if}}
   </div>
</div>
{{#if ammoItem}}
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{ammoItem.img}}' />
      {{#if ammoItem.system.isIdentified}}
      <div class="item-name">{{ammoItem.name}}</div>
      {{else}}
      <div class="item-name">{{ammoItem.system.unidentifiedName}}</div>
      {{/if}}
   </div>
   <div class="collapsible-content collapsed">
      {{#if ammoItem.system.isIdentified}}
      {{{ammoItem.system.description}}}
      {{else}}
      {{{ammoItem.system.unidentifiedDesc}}}
      {{/if}}
   </div>
</div>
{{/if}}
{{#if rollContent}}
{{{rollContent}}}
{{/if}}
<div name="digest" class="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{#if weapon.system.savingThrow}}
<div style="margin-top:6px;">
   <button class="saving-roll"           
           data-type="{{weapon.system.savingThrow}}"
           data-weaponuuid="{{weapon.uuid}}">
      <i class="fa-solid fa-life-ring"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Actor.Saves.singular'}}</span>: <span class="small-text">{{save.system.shortName}}</span>
   </button>
</div>
{{/if}}
{{#if damageRoll.hasDamage}}
<div style="margin-top:8px;">
   <button class="damage-roll"
           data-attacktype="{{resp.attackType}}"
           data-damagetype="{{damageRoll.type}}"
           data-label="Damage"
           data-type="damage"
           data-targetweapontype="{{targetWeaponType}}"
           data-weaponuuid="{{weapon.uuid}}"
           data-tooltip="<b>{{localize 'FADE.Weapon.damage.long'}}:</b> {{damageRoll.formula}}">
      <i class="fa-solid fa-burst"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Chat.damageRoll.name'}}</span> <span class="small-text">{{localize (concat 'FADE.DamageTypes.types.' damageRoll.type)}}</span>
   </button>
</div>
{{/if}}
