<div>{{description}}</div>
{{#if toHitResult.message}}{{{toHitResult.message}}}{{/if}}
{{{rollContent}}}
{{#each digest as |ditem|}}
<div>{{ditem}}</div>
{{/each}}
{{#if toHitResult.success}}
<p>
   <button class="damage-roll"
           data-formula="{{damageRoll.formula}}"
           data-attacktype="{{damageRoll.type}}"
           data-label="Damage"
           data-type="damage"
           data-attackerid="{{descData.attackerid}}"
           data-attacker="{{descData.attacker}}"
           data-targetname="{{descData.targetName}}"
           data-targetid="{{targetId}}"
           data-weapon="{{descData.weapon}}">
      {{localize 'FADE.Chat.damageRoll'}} {{damageRoll.formula}} ({{damageRoll.type}})
   </button>
</p>
{{/if}}
