<div>{{description}}</div>
{{#if toHitResult.message}}{{{toHitResult.message}}}{{/if}}
{{{rollContent}}}
<div name="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{#if toHitResult.success}}
<p>
   <button class="damage-roll"
           data-attacktype="{{attackType}}"
           data-damagetype="{{damageRoll.type}}"
           data-label="Damage"
           data-type="damage"
           data-attackerid="{{descData.attackerid}}"
           data-targetid="{{targetId}}"
           data-weaponid="{{weaponId}}"">
      {{localize 'FADE.Chat.damageRoll'}} {{damageRoll.formula}} ({{damageRoll.type}})
   </button>
</p>
{{/if}}
