{{#if mdata.label}}
<div style="margin-bottom:6px;">{{actorName}}: {{attackName}}</div>
{{/if}}
{{#if mdata.desc}}
<div class="bordered">
   <i style="font-size:12px;">{{mdata.desc}}</i>
</div>
{{/if}}
<div name="digest" class="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{{rollContent}}}
<div class="card-tray">
   <label class="collapser">
      <i class="fa-solid fa-heart-crack" inert></i>
      <span>Apply</span>
   </label>
   <div class="collapsible-content">
      <button class="apply-damage" type="button" title="Apply damage to target."
              data-attacktype="{{mdata.attacktype}}"
              data-attackmode="{{mdata.attackmode}}"
              data-damagetype="{{mdata.damagetype}}"
              data-attackerid="{{mdata.attackerid}}"
              data-weaponid="{{mdata.weaponid}}"
              data-amount="{{damage}}"
              data-label="{{mdata.label}}"
              data-desc="{{mdata-desc}}">
         <i class="fa-solid fa-reply-all fa-flip-horizontal"></i>
         <span style="margin-left:4px;">Apply</span>
      </button>
   </div>
</div>