{{#if mdata.label}}
<div style="margin-bottom:6px;">{{actorName}}: {{attackName}}</div>
{{/if}}
{{#if mdata.desc}}
<div class="bordered">
   <i style="font-size:12px;">{{mdata.desc}}</i>
</div>
{{/if}}
<div name="digest" class="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{{rollContent}}}