{{#if actorName}}
<div class="text-size16">{{actorName}}</div>
{{/if}}
{{#if mdata.label}}
<div>{{mdata.label}}{{#if mdata.target}} ({{mdata.target}}){{/if}}</div>
{{/if}}
{{#if caller}}
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{caller.img}}'/>
      <div class="item-name">
         {{#if (ne caller.system.isIdentified false)}}
         {{caller.name}}
         {{else}}
         {{caller.system.unidentifiedName}}
         {{/if}}
      </div>
   </div>
   <div class="collapsible-content collapsed">
      {{#if (ne caller.system.isIdentified false)}}
      {{{caller.system.description}}}
      {{else}}
      {{{caller.system.unidentifiedDesc}}}
      {{/if}}
   </div>
</div>
{{/if}}
{{#if mdata.desc}}
<i style="font-size:12px;">{{mdata.desc}}</i>
{{/if}}
{{#if resultString}}
{{{resultString}}}
{{/if}}
{{#if rollContent}}
{{{rollContent}}}
{{/if}}