{{#each actions as |action|}}
{{#if (eq action.type "save")}}
<button class="saving-roll"
        data-type="{{action.customSaveCode}}"
        data-owneruuid="{{action.owneruuid}}"
        data-weaponuuid="{{action.itemuuid}}">
   <i class="fa-solid fa-life-ring"></i>
   <span style="margin-left:4px;">{{localize 'FADE.Actor.Saves.singular'}}</span>: <span class="small-text">{{action.shortName}}</span>
</button>
{{/if}}
{{/each}}