<button class="heal-roll"
        data-damagetype="{{damageType}}"
        data-label="Heal"
        data-type="heal"
        data-weaponuuid="{{itemuuid}}"
        data-owneruuid="{{owneruuid}}"
        data-tooltip="<b>{{localize 'FADE.Spell.healFormula'}}:</b> {{damageFormula}}">
   <i class="fa-solid fa-heart"></i>
   <span style="margin-left:4px;">{{localize 'FADE.Chat.healRoll'}}</span>
</button>