{{#if damageRoll.hasDamage}}
{{#if isHeal}}
<div style="margin-top:8px;">
   <button class="heal-roll"
           data-damagetype="{{damageRoll.type}}"
           data-attacktype="{{attackType}}"
           data-label="Heal"
           data-type="heal"
           data-weaponuuid="{{item.uuid}}"
           data-owneruuid="{{context.uuid}}"
           data-tooltip="<b>{{localize 'FADE.Spell.healFormula'}}:</b> {{damageRoll.formula}}">
      <i class="fa-solid fa-heart"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Chat.healRoll'}}</span>
   </button>
</div>
{{else}}
<div style="margin-top:8px;">
   <button class="damage-roll"
           data-damagetype="{{damageRoll.type}}"
           data-attacktype="{{attackType}}"
           data-label="Damage"
           data-type="damage"
           data-weaponuuid="{{item.uuid}}"
           data-owneruuid="{{context.uuid}}"
           data-tooltip="<b>{{localize 'FADE.Weapon.damage.long'}}:</b> {{damageRoll.formula}}">
      <i class="fa-solid fa-burst"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Chat.damageRoll.name'}}</span> <span class="small-text">{{localize (concat 'FADE.DamageTypes.types.' damageRoll.type)}}</span>
   </button>
</div>
{{/if}}
{{/if}}
{{#each actions as |action|}}
{{#if (eq action.type "save")}}
<div style="margin-top:6px;">
   <button class="saving-roll"
           data-type="{{action.item.system.customSaveCode}}"
           data-owneruuid="{{action.owneruuid}}"
           data-weaponuuid="{{action.item.uuid}}">
      <i class="fa-solid fa-life-ring"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Actor.Saves.singular'}}</span>: <span class="small-text">{{action.item.system.shortName}}</span>
   </button>
</div>
{{/if}}
{{#if (eq action.type "")}}
<div style="margin-top:6px;">
   <button class="action-roll"
           data-type="{{action.type}}"
           data-savecode="{{action.item.system.customSaveCode}}"
           data-owneruuid="{{action.owneruuid}}"
           data-itemuuid="{{action.item.uuid}}">
      <i class="fa-solid fa-play"></i>
      <span style="margin-left:4px;">{{action.item.name}}</span>
   </button>
</div>
{{/if}}
{{/each}}