<div class="text-size16">{{actorName}}</div>
<div><strong>{{mdata.label}}:</strong> {{mdata.desc}}</div>
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{item.img}}' data-tooltip='{{item.name}}' />
      <div class="item-name">{{item.name}}</div>
   </div>
   <div class="collapsible-content collapsed">
      {{{itemDescription}}}
   </div>
</div>
<div>
   {{{resultString}}}
</div>
{{{rollContent}}}
{{> "chatSaveHealDamage"}}