<div>
   <div class="attack-desc">{{description}}</div>
   {{#if rollResult.message}}
   <div class="attack-result">{{{rollResult.message}}}</div>
   {{/if}}
</div>
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{item.img}}' data-tooltip='{{item.name}}' />
      <div class="item-name">{{item.name}}</div>
   </div>
   <div class="collapsible-content collapsed">
      {{{itemDescription}}}
   </div>
</div>
{{#if resultString}}
{{{resultString}}}
{{/if}}
{{{rollContent}}}
{{> "rollSaveBtn"}}