<div>
   <div class="attack-desc">{{description}}</div>
   {{#if toHitResult.message}}
   <div class="attack-result">{{{toHitResult.message}}}</div>
   {{/if}}
</div>
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{spellItem.img}}' title='{{spellItem.name}}' />
      <div class="item-name">{{spellItem.name}}</div>
   </div>
   <div class="collapsible-content collapsed">
      {{{spellItem.system.description}}}
   </div>
</div>
{{#if rollContent}}
{{{rollContent}}}
{{/if}}
<div name="digest" class="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{#if spellItem.system.savingThrow}}
<div style="margin-top:6px;">
   <button class="saving-roll"
           data-attackerid="{{descData.attackerid}}"
           data-type="{{spellItem.system.savingThrow}}"
           data-weaponid="{{spellItem.id}}">
      <i class="fa-solid fa-life-ring"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Actor.Saves.singular'}}</span>: <span class="small-text">{{save.system.shortName}}</span>
   </button>
</div>
{{/if}}
{{#if damageRoll.hasDamage}}
<div style="margin-top:8px;">
   {{#if isHeal}}
   <button class="heal-roll"
           data-damagetype="{{damageRoll.type}}"
           data-attacktype="spell"
           data-label="Heal"
           data-type="heal"
           data-attackerid="{{context.id}}"
           data-weaponid="{{spellItem.id}}"
           data-tooltip="<b>{{localize 'FADE.Spell.healFormula'}}:</b> {{damageRoll.formula}}">
      <i class="fa-solid fa-heart"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Chat.healRoll'}}</span>
   </button>
   {{else}}
   <button class="damage-roll"
           data-damagetype="{{damageRoll.type}}"
           data-attacktype="spell"
           data-label="Damage"
           data-type="damage"
           data-attackerid="{{context.id}}"
           data-weaponid="{{spellItem.id}}"
           data-tooltip="<b>{{localize 'FADE.Weapon.damage.long'}}:</b> {{damageRoll.formula}}">
      <i class="fa-solid fa-burst"></i>
      <span style="margin-left:4px;">{{localize 'FADE.Chat.damageRoll.name'}}</span> <span class="small-text">{{localize (concat 'FADE.DamageTypes.types.' damageRoll.type)}}</span>
   </button>
   {{/if}}
</div>
{{/if}}
{{#if roll}}
<div class="card-tray">
   <label class="collapser">
      <i class="fas fa-bullseye" inert></i>
      <span>Targets</span>
   </label>
   <div class="collapsible-content">
      {{#each targets as |target|}}
      <div class="flexrow">
         <div class="flex3" style="margin-left:5px;">{{target.name}}</div>
      </div>
      {{/each}}
   </div>
</div>
{{/if}}