<div>
   <div class="attack-desc">{{description}}</div>
   {{#if toHitResult.message}}
   <div class="attack-result">{{{toHitResult.message}}}</div>
   {{/if}}
</div>
<div class="bordered" style="padding-bottom:2px;">
   <div class="flexrow collapser">
      <img class="item-image" src='{{item.img}}' data-tooltip='{{item.name}}' />
      <div class="item-name">{{item.name}}</div>
   </div>
   <div class="collapsible-content collapsed">
      {{{item.system.description}}}
   </div>
</div>
<div class="spell-duration" style="margin-bottom:2px;">
   {{durationMsg}}
</div>
{{#if rollContent}}
{{{rollContent}}}
{{/if}}
<div name="digest" class="digest">
   {{#each digest as |ditem|}}
   <div>{{ditem}}</div>
   {{/each}}
</div>
{{> "chatSaveHealDamage"}}
{{#if roll}}
<div class="card-tray">
   <label class="collapser">
      <i class="fas fa-bullseye" inert></i>
      <span>Targets</span>
   </label>
   <div class="collapsible-content">
      {{#each targets as |target|}}
      <div class="flexrow">
         <div class="flex3" style="margin-left:5px;">{{target.name}}</div>
      </div>
      {{/each}}
   </div>
</div>
{{/if}}