<li class='item collapsible-content{{#if (lte item.system.quantity 0)}} warning-bkgd{{/if}}{{#if item.system.container}} item-container{{/if}}' data-item-id='{{item._id}}'>
   <div class="flexrow{{#unless item.system.quantityMax }} bottom-border{{/unless}}">
      <div class='item-name'>
         <div class='item-image rollable' data-roll-type='item'>
            <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
         </div>
         {{#if item.system.container}}
         <div class="category-caret"><i class="fas fa-caret-down"></i></div>
         {{/if}}
         <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type=(localize "TYPES.Item.item")}}'>
            {{item.name}}
            {{#if rootobj.showCoinWeight}}
            {{#if item.containedEnc}}
            <span class="category-info">({{item.containedEnc}} {{localize 'FADE.Item.weight.abbrPlural'}})</span>
            {{/if}}
            {{/if}}
         </a>
      </div>
      <div class="item-40px item-prop"><label>{{item.system.quantity}}</label></div>
      {{#if rootobj.showCoinWeight}}
      <div class="item-50px item-prop" data-tooltip="{{localize 'FADE.Item.weight.desc'}}"><label>{{item.system.totalWeight}}</label></div>
      {{/if}}
      <div class='item-controls'>
         {{#if item.system.equippable}}
         <a class="item-control item-toggle {{#unless item.system.equipped}}item-unequipped{{/unless}}"
            data-tooltip="{{#if item.system.equipped}}{{localize 'FADE.Item.unequip'}}{{else}}{{localize 'FADE.Item.equip'}}{{/if}}">
            <i class="fas{{#if item.system.isAmmo}} fa-hand{{else}} fa-tshirt{{/if}}"></i>
         </a>
         {{/if}}
         <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=(localize "TYPES.Item.item")}}'>
            <i class='fas fa-trash'></i>
         </a>
      </div>
   </div>
</li>
{{#if item.system.container}}
<!--<ol class="bottom-border" data-item-parentid="{{parentItem._id}}">-->
   {{#each item.contained as |childItem|}}
   {{> "systems/fantastic-depths/templates/item/parts/item-contained.hbs" parentItem=../item item=childItem rootobj=../rootobj}}
   {{/each}}
<!--</ol>-->
{{/if}}
{{#unless item.system.container}}
{{#if item.system.quantityMax }}
<li class='flexrow item collapsible-content bottom-border{{#if (lte item.system.quantity 0)}} warning-bkgd{{/if}}' data-item-id='{{item._id}}'>
   <div class="consumable-counter">
      <label>{{localize 'FADE.Item.uses'}}</label>
      {{#times item.system.quantity}}
      <div class="full-mark"></div>
      {{/times}} {{#times (subtract item.system.quantityMax item.system.quantity)}}
      <div class="empty-mark"></div>
      {{/times}}
   </div>
</li>
{{/if}}
{{/unless}}