<div class="bordered" style="height:97%;">
   <h4>{{localize 'FADE.Actor.explore.long'}}</h4>
   <ol name="explorationSpecialAbilityItems" class='items-list'>
      {{#each exploration as |item id|}}
      <li class='item flexrow collapsible-content bottom-border' data-item-id='{{item.item._id}}'>
         <div class='item-name'>
            <div class="item-image rollable"
                 {{#if item.item.roll}}
                 data-test="specialAbility"
                 {{/if}}
                 data-roll-type='item'
                 data-label="{{item.item.name}} {{localize 'FADE.SpecialAbility.short'}}">
               <img src='{{item.item.img}}' data-tooltip='{{localize 'FADE.rollWithCtrl' name=item.item.name}}' width='24' height='24' />
            </div>
            <a class="item-control item-edit" style="font-size:13px;" data-tooltip='{{localize "DOCUMENT.Update" type=(localize "FADE.SpecialAbility.long")}}'>{{item.item.name}}</a>
         </div>
         {{#if showExplTarget}}
         <div style="max-width:26px;">
            <span style="font-size:9px">{{{item.op}}}</span> {{item.item.system.target}}
         </div>
         {{/if}}
         {{#if @root.isGM}}
         <div class='item-controls-sm' style="max-width:20px;">
            <a class='item-control item-delete' data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.SpecialAbility.long")}}'>
               <i class='fas fa-trash'></i>
            </a>
         </div>
         {{/if}}
      </li>
      {{/each}}
   </ol>
</div>