<div name="gearItems" class='gear-items items-list'>
   <div class='item flexrow items-header' data-action="toggleHeader">
      <div class='item-name'>{{localize 'FADE.Item.plural'}} {{#if gearEnc}}<span class="category-info">({{gearEnc}} {{localize 'FADE.Item.weight.abbrPlural'}})</span>{{/if}}</div>
      <div class="item-40px">{{localize 'FADE.Item.quantity.abbr2'}}</div>
      {{#if showWeight}}
      <div class="item-50px" data-tooltip="{{localize 'FADE.Item.weight.desc'}}">{{localize 'FADE.Item.weight.short2'}}</div>
      {{/if}}
      <div class='item-controls'>
         <a class='item-control item-create'
            data-type='item'
            data-action="createItem"
            data-tooltip='{{localize "DOCUMENT.Create" type=(localize "TYPES.Item.item")}}'>
            <i class='fas fa-plus'></i>
            {{localize 'TYPES.Item.item'}}
         </a>
      </div>
   </div>
   {{#each gear as |item id|}}
   {{> "itemGear" item=item id=id rootobj=@root}}
   {{/each}}
</div>
