<ol class='items-list'>
   <li class='item flexrow items-header collapsible-header'>
      <div class='item-name'>{{localize 'FADE.Mastery.plural'}}</div>
      <div class="item-80px">{{localize 'FADE.Actor.Level'}}</div>
      <div class='item-controls'>
         <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=(localize "FADE.Mastery.long")}}' data-type='mastery'>
            <i class='fas fa-plus'></i>
            {{localize 'FADE.Mastery.short'}}
         </a>
      </div>
   </li>
   {{#each masteries as |item|}}
   <li class='item flexrow collapsible-content' data-item-id='{{item._id}}'>
      <div class='item-name'>
         <div class='item-image'>
            <a data-roll-type='item'>
               <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            </a>
         </div>
         <a class='item-control item-edit' title='{{localize "DOCUMENT.Update" type='Item'}}'>{{item.name}}</a>
      </div>
      <div class="item-80px item-prop">{{item.system.level}}</div>
      <div class='item-controls'>
         <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=(localize "FADE.Mastery.long")}}'>
            <i class='fas fa-trash'></i>
         </a>
      </div>
   </li>
   {{/each}}
</ol>