<div class="items-list effects-list">
   {{#each effects as |section sid|}}
   <div class="items-header flexrow" data-effect-type="{{section.type}}">
      <div class="item-name effect-name flexrow">{{localize section.label}}</div>
      <div class="effect-source">{{localize "FADE.Spell.duration"}}</div>
      <div class="item-controls effect-controls flexrow">
         <a class="effect-control" data-action="createEffect" data-tooltip="{{localize 'DOCUMENT.Create' type=(localize "FADE.Effect.short")}}">
            <i class="fas fa-plus"></i> {{localize 'FADE.Effect.short'}}
         </a>
      </div>
   </div>
   <div>
      <div class="item-list">
         {{#each section.effects as |effect|}}
         <div class="item effect flexrow collapsible-content" data-effect-id="{{effect.id}}" data-parent-id="{{effect.parent.id}}">
            <div class='item-name effect-name'>
               <div class='item-image'>
                  <img src='{{effect.img}}' data-tooltip='{{effect.name}}' width='26' height='26' />
               </div>
               <a class="effect-control" data-action="editEffect" data-tooltip='{{localize "DOCUMENT.Update" type=(localize "FADE.Effect.short")}}'>{{effect.name}}</a>
            </div>
            <div class="effect-duration">{{effect.duration?.label}}</div>
            <div class="item-controls effect-controls flexrow">
               <a class="effect-control" data-action="toggleEffect" data-tooltip="{{localize 'FADE.Effect.Toggle'}}">
                  <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
               </a>
               <a class="effect-control" data-action="deleteEffect" data-tooltip="{{localize 'DOCUMENT.Delete' type=(localize "FADE.Effect.short")}}">
                  <i class="fas fa-trash"></i>
               </a>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
   {{/each}}
</div>