<ol name="explorationSpecialAbilityItems" class='items-list'>
   <li class='item flexrow items-header collapsible-header'>
      <div class='item-name'>{{localize 'FADE.SpecialAbility.categories.class'}}</div>
   </li>
   {{#each classAbilities as |item id|}}
   <li class='item collapsible-content{{#unless item.system.quantityMax }} bottom-border{{/unless}}{{#if (eq item.system.quantity 0)}} warning-bkgd{{/if}}' data-item-id='{{item._id}}'>
      <div class="flexrow">
         <div class='item-name'>
            <div class="item-image rollable"
                 data-roll-type='item'
                 data-label="{{item.name}} {{localize 'FADE.SpecialAbility.short'}}">
               <img src='{{item.img}}'
                    {{#if (or (eq item.system.rollFormula null) (eq item.system.rollFormula ''))}}
                    data-tooltip='{{item.name}}'
                    {{else}}
                    data-tooltip='{{localize 'FADE.rollWithCtrl' name=item.name}}'
                    {{/if}}
                    width='24' height='24' />
            </div>
            <a class="item-control description-expand" data-tooltip='{{localize "FADE.dialog.spellcast.noLabel"}}'>{{item.name}}</a>
         </div>
         <div class='item-controls-sm center-vert'>
            <a class="item-control item-edit" data-tooltip='{{localize "DOCUMENT.Update" type=(localize "FADE.SpecialAbility.long")}}'>
               <i class='fas fa-pencil'></i>
            </a>
            {{#if @root.isGM}}
            <a class='item-control item-delete' data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.SpecialAbility.long")}}'>
               <i class='fas fa-trash'></i>
            </a>
            {{/if}}
         </div>
      </div>
      <div class='item-description desc-collapsed bordered'></div>
   </li>
   {{#if item.system.quantityMax }}
   <li class='flexrow item collapsible-content bottom-border{{#if (eq item.system.quantity 0)}} warning-bkgd{{/if}}' data-item-id='{{item._id}}'>
      <div class="consumable-counter">
         <label>{{localize 'FADE.Item.uses'}}</label>
         {{#times item.system.quantity}}
         <div class="full-mark"></div>
         {{/times}} {{#times (subtract item.system.quantityMax item.system.quantity)}}
         <div class="empty-mark"></div>
         {{/times}}
      </div>
   </li>
   {{/if}}
   {{/each}}
</ol>