<div class="bordered" style="height:97%;">
   <h4>{{localize 'FADE.Actor.Saves.long'}}</h4>
   <ol name="savesSpecialAbilityItems" class='items-list'>
      {{#each savingThrows as |item id|}}
      <li class='item flexrow collapsible-content bottom-border' data-item-id='{{item._id}}'>
         <div class='item-name'>
            <div class="item-image rollable"
                 data-test="save"
                 data-type="{{item.system.customSaveCode}}"
                 data-label="{{item.name}} {{localize 'FADE.SpecialAbility.short'}}">
               <img src='{{item.img}}' data-tooltip='{{localize 'FADE.rollWithCtrl' name=item.name}}' width='24' height='24' />
            </div>
            <a class="item-control item-edit" data-tooltip='{{localize "DOCUMENT.Update" type=(localize "FADE.SpecialAbility.long")}}'>{{item.system.shortName}}</a>
         </div>
         <div class="editable" style="max-width:38px;">
            <input type="text" value="{{item.system.target}}" data-field="target" data-dtype="Number" />
         </div>
         <div class='item-controls' style="max-width:20px;">
            {{#if @root.isGM}}
            <a class='item-control item-delete' data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.SpecialAbility.long")}}'>
               <i class='fas fa-trash'></i>
            </a>
            {{/if}}
         </div>
      </li>
      {{/each}}
   </ol>
</div>