<div name="masteryItems" class='items-list'>
   <div class='item flexrow items-header' data-action="toggleHeader">
      <div class='item-name'>{{localize 'FADE.Mastery.plural'}}</div>
      <div class="item-80px">{{localize 'FADE.Actor.Level'}}</div>
      <div class="item-60px">{{localize 'FADE.Mastery.primary'}} {{localize 'FADE.Weapon.mod.toHit.short'}}</div>
      <div class="item-60px">{{localize 'FADE.Mastery.primary'}} {{localize 'FADE.Weapon.damage.short'}}</div>
      <div class='item-controls-sm'>
         {{#if @root.isGM}}
         <a class='item-control item-create'
            data-action="createItem"
            data-type='mastery'
            data-tooltip='{{localize "DOCUMENT.Create" type=(localize "FADE.Mastery.long")}}'>
            <i class='fas fa-plus'></i>
            {{localize 'FADE.Mastery.short'}}
         </a>
         {{/if}}
      </div>
   </div>
   {{#each masteries as |item|}}
   <div class='item collapsible-content bottom-border' data-item-id='{{item._id}}'>
      <div class="flexrow center-vert">
         <div class='item-name'>
            <div class='item-image'>
               <a data-roll-type='item'>
                  <img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' />
               </a>
            </div>
            <a class='item-control description-expand' data-tooltip='{{localize "FADE.dialog.spellcast.noLabel"}}'>{{item.name}}</a>
         </div>
         <div class="item-80px item-prop">{{localize (concat "FADE.Mastery.levels." item.system.effectiveLevel)}}</div>
         <div class="item-60px item-prop">+{{item.system.pToHit}}</div>
         <div class="item-60px item-prop" data-tooltip="{{localize (concat 'FADE.Mastery.weaponTypes.' item.system.primaryType '.long')}}">
            {{item.system.pDmgFormula}}
         </div>
         <div class='item-controls-sm'>
            <a class="item-control" 
               data-action="editItem"
               data-tooltip='{{localize "DOCUMENT.Update" type=(localize "FADE.Mastery.long")}}'>
               <i class='fas fa-pencil'></i>
            </a>
            {{#if @root.isGM}}
            <a class='item-control' 
               data-action="deleteItem"
               data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.Mastery.long")}}'>
               <i class='fas fa-trash'></i>
            </a>
            {{/if}}
         </div>
      </div>
      <div class='item-description desc-collapsed bordered'></div>
   </div>
   {{/each}}
</div>