<section class="grid max-width-300px grid-2col">
   <section class="bordered">
      <h4>{{localize 'FADE.Weapon.range.section'}}</h4>
      <ul class="summary flexrow">
         <li class="flex1" style="margin-left:3px;">
            <input type='text' name="system.range.short" value='{{system.range.short}}' data-dtype='Number' />
            <label for="system.range.short">{{localize 'FADE.Weapon.range.short'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.range.medium" value='{{system.range.medium}}' data-dtype='Number' />
            <label for="system.range.medium">{{localize 'FADE.Weapon.range.medium'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.range.long" value='{{system.range.long}}' data-dtype='Number' />
            <label for="system.range.long">{{localize 'FADE.Weapon.range.long'}}</label>
         </li>
      </ul>
   </section>
   <section class="bordered">
      <h4>{{localize 'FADE.Weapon.ammo.long'}}</h4>
      <ul class="summary flexrow">
         <li class="flex1" style="margin-left:3px;">
            <input type='text' name="system.ammo.type" value='{{system.ammo.type}}' data-dtype='String' />
            <label for="system.ammo.type">{{localize 'FADE.Weapon.ammo.type'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.ammo.load" value='{{system.ammo.load}}' data-dtype='Number' />
            <label for="system.ammo.load">{{localize 'FADE.Weapon.ammo.load'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.ammo.maxLoad" value='{{system.ammo.maxLoad}}' data-dtype='Number' />
            <label for="system.ammo.maxLoad">{{localize 'FADE.Weapon.ammo.maxLoad'}}</label>
         </li>
      </ul>
   </section>
</section>
{{#if isGM}}
<section class="bordered">
   <ul class="summary flexrow">
      <li class="flex1">
         <input type="checkbox" name="system.canMelee" data-dtype="Boolean" {{#if system.canMelee}} checked{{/if}} />
         <label for="system.canMelee">{{localize 'FADE.AttackTypes.types.melee'}}</label>
      </li>
      <li class="flex1">
         <input type="checkbox" name="system.canRanged" data-dtype="Boolean" {{#if system.canRanged}} checked{{/if}} />
         <label for="system.canRanged">{{localize 'FADE.AttackTypes.types.missile'}}</label>
      </li>
      <li class="flex1">
         <input type="checkbox" name="system.natural" data-dtype="Boolean" {{#if system.natural}} checked{{/if}} data-tooltip="{{localize "FADE.Armor.natural.desc"}}" />
         <label for="system.natural" data-tooltip="{{localize "FADE.Armor.natural.desc"}}">{{localize "FADE.Armor.natural.short"}}</label>
      </li>
      <li class="flex2">
         <input type="text" name="system.breath" value='{{system.breath}}' data-dtype="String"/>
         <label for="system.breath">{{localize 'FADE.DamageTypes.types.breath'}}</label>
      </li>
      <li class="flex1">
         <select name="system.savingThrow">
            {{selectOptions savingThrows selected=system.savingThrow valueAttr="value" labelAttr="text"}}
         </select>
         <label for="system.savingThrow">{{localize 'FADE.Actor.Saves.singular'}}</label>
      </li>
      <li class="flex2">
         <input type='text' name="system.saveDmgFormula" value='{{system.saveDmgFormula}}' data-dtype='String' />
         <label for="system.saveDmgFormula">{{localize 'FADE.Actor.Saves.short'}} {{localize 'FADE.Weapon.damage.short'}}</label>
      </li>
   </ul>
</section>
{{/if}}