<section class="flexrow">
   {{#if isGM}}
   <div class="bordered">
      <!--<h4>{{localize 'FADE.Weapon.range.section'}}</h4>-->
      <ul class="summary flexrow">
         <li style="max-width:90px;">
            <select name="system.size">
               {{selectOptions weaponSizes selected=system.size}}
            </select>
            <label for="system.size">{{localize 'FADE.Size'}}</label>
         </li>
         <li style="max-width: 60px;">
            <select name="system.grip">
               {{selectOptions weaponGrips selected=system.grip}}
            </select>
            <label for="system.grip">{{localize 'FADE.Weapon.grip.label'}}</label>
         </li>
         <li class="flex2">
            <input type='text' name="system.mastery" value='{{system.mastery}}' data-dtype='String' />
            <label for="system.mastery">{{localize 'FADE.Mastery.short'}}</label>
         </li>
         <li class="flex2">
            <select name="system.weaponType" data-tooltip="{{localize 'FADE.Mastery.weaponTypeTitle'}}">
               {{selectOptions weaponTypes selected=system.weaponType}}
            </select>
            <label for="system.weaponType" data-tooltip="{{localize 'FADE.Mastery.weaponTypeTitle'}}">{{localize 'FADE.Mastery.weaponType'}}</label>
         </li>
         <li>
            <input type='text' name="system.quantity" value='{{system.quantity}}' data-dtype='Number' {{#if system.container}} readonly{{/if}} placeholder="{{#if (eq system.quantity null)}}∞{{/if}}" />
            <label for="system.quantity">{{localize 'FADE.Item.quantity.abbr'}}</label>
         </li>
         <li>
            <input type='text' name="system.quantityMax" value='{{system.quantityMax}}' data-dtype='Number' {{#if system.container}} readonly{{/if}} placeholder="{{#if (eq system.quantityMax null)}}∞{{/if}}" />
            <label for="system.quantityMax">{{localize 'FADE.Item.quantity.maxAbbr'}}</label>
         </li>
      </ul>
      <ul class="summary flexrow">         
         <li class="flex2">
            <input type="text" name="system.breath" value='{{system.breath}}' data-dtype="String" />
            <label for="system.breath">{{localize 'FADE.DamageTypes.types.breath'}}</label>
         </li>
         <li class="flex1">
            <select name="system.savingThrow">
               {{selectOptions savingThrows selected=system.savingThrow}}
            </select>
            <label for="system.savingThrow">{{localize 'FADE.Actor.Saves.singular'}}</label>
         </li>
         <li class="flex2">
            <input type='text' name="system.saveDmgFormula" value='{{system.saveDmgFormula}}' data-dtype='String' />
            <label for="system.saveDmgFormula">{{localize 'FADE.Actor.Saves.short'}} {{localize 'FADE.Weapon.damage.short'}}</label>
         </li>
      </ul>
      <ul class="summary flexrow">
         <li class="flex1" style="margin-left:3px;">
            <input type='text' name="system.range.short" value='{{system.range.short}}' data-dtype='Number' />
            <label for="system.range.short">{{localize 'FADE.Weapon.range.short'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.range.medium" value='{{system.range.medium}}' data-dtype='Number' />
            <label for="system.range.medium">{{localize 'FADE.Weapon.range.medium'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.range.long" value='{{system.range.long}}' data-dtype='Number' />
            <label for="system.range.long">{{localize 'FADE.Weapon.range.long'}}</label>
         </li>
         <li class="flex2" style="margin-left:3px;">
            <input type='text' name="system.ammoType" value='{{system.ammoType}}' data-dtype='String' />
            <label for="system.ammoType" data-tooltip="{{localize "FADE.Weapon.ammo.typeHint"}}">{{localize "FADE.Weapon.ammo.type"}}</label>
         </li>
      </ul>
   </div>
</section>
{{/if}}