<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
   <div class="bordered">
      <div class="summary flexrow">
         <div style="max-width:70px;">
            <input type='text' name="system.charges" value='{{system.charges}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} placeholder="{{#if (eq system.charges null)}}∞{{/if}}" />
            <label for="system.charges">{{localize 'FADE.Item.charges.long'}}</label>
         </div>
         <div style="max-width:70px;">
            <input type='text' name="system.chargesMax" value='{{system.chargesMax}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} placeholder="{{#if (eq system.chargesMax null)}}∞{{/if}}" />
            <label for="system.chargesMax">{{localize 'FADE.Item.charges.maxLong'}}</label>
         </div>
      </div>
   </div>
   {{> "itemIdentified"}}
</section>
