{{! Sheet Body }}
<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
   <div class="bordered">
      <div class="summary flexrow">
         <div style="max-width:70px;">
            <input type='text' name="system.charges" value='{{system.charges}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} placeholder="{{#if (eq system.charges null)}}∞{{/if}}" />
            <label for="system.charges">{{localize 'FADE.Item.charges.long'}}</label>
         </div>
         <div style="max-width:70px;">
            <input type='text' name="system.chargesMax" value='{{system.chargesMax}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} placeholder="{{#if (eq system.chargesMax null)}}∞{{/if}}" />
            <label for="system.chargesMax">{{localize 'FADE.Item.charges.maxLong'}}</label>
         </div>
      </div>
   </div>
   {{> "itemIdentified"}}
</section>
{{! Description Tab }}
<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='description'>
   {{#if (or isGM system.isIdentified)}}
   {{editor enrichedDesc target='system.description' engine="prosemirror" button=true editable=editable}}
   {{else}}
   {{editor enrichedUIDesc target='system.unidentifiedDesc' engine="prosemirror" button=true editable=editable}}
   {{/if}}
</section>
{{! Effects Tab }}
<section class="tab {{tab.cssClass}} effects" data-group="primary" data-tab="effects">
   {{> "itemEffects"}}
</section>
{{! GM-Only Tab }}
<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='gm-only'>
   <div class="bordered">
      <div class="summary flexrow">
         <div style="max-width:60px;">
            <div class="text-center">{{system.totalAC}}</div>
            <label>{{localize 'FADE.Armor.total'}}</label>
         </div>
         <div style="max-width:60px;">
            <div class="item-info">{{system.mod}}</div>
            <label>{{localize 'FADE.Armor.mod'}}</label>
         </div>
      </div>
   </div>
   <div class="bordered">
      <label for="gm-notes">{{localize 'FADE.GMNotes'}}:</label>
      <textarea id="gm-notes" name="system.gm.notes" rows="5">{{system.gm.notes}}</textarea>
   </div>
</section>
