<div class="effect-library">
   <ol class="items-list effects-list">
      <li class="items-header flexrow">
         <h3 class="item-name effect-name flexrow">{{localize "EFFECT.Name"}}</h3>
         <div class="effect-source">{{localize "EFFECT.TabDuration"}}</div>
         <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="create" title="{{localize 'DOCUMENT.Create' type=(localize "FADE.Effect.short")}}">
               <i class="fas fa-plus"></i> {{localize 'FADE.Effect.short'}}
            </a>
         </div>
      </li>

      {{#each effects as |effect|}}
      <li class="item effect flexrow" data-effect-id="{{effect.id}}">
         <div class='item-name effect-name'>
            <div class='item-image'>
               <img src='{{effect.img}}' title='{{localize effect.name}}' width='26' height='26' />
            </div>
            <a class="effect-control" data-action="edit" title='{{localize "DOCUMENT.Update" type=(localize "FADE.Effect.short")}}'>{{localize effect.name}}</a>
         </div>
         <div class="effect-duration">{{effect.duration.label}}</div>
         <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="delete" title="{{localize 'DOCUMENT.Delete' type=(localize "FADE.Effect.short")}}">
               <i class="fas fa-trash"></i>
            </a>
         </div>
      </li>
      {{/each}}
   </ol>
</div>