<div class="award-xp">
   <form>
      <div>
         <label >{{localize 'FADE.dialog.awardXP.xpAmountTotal'}}:</label>
         <input class="width-60"
                type="number"
                name="globalXP"
                value="{{globalXP}}" />
      </div>
      <hr />
      <table class="party-table">
         <thead>
            <tr>
               <th>{{localize 'FADE.name'}}</th>
               <th style="width: 50px;">{{localize 'FADE.dialog.awardXP.share'}}</th>
               <th style="width: 120px;">{{localize 'FADE.dialog.awardXP.xpAmount'}}</th>
               <th>{{localize 'FADE.Actor.XPBonus'}}</th>
            </tr>
         </thead>
         <tbody>
            {{#each actorxps as |actorxp|}}
            <tr class="party-member" data-actor-id="{{actorxp.id}}">
               <td>{{actorxp.name}}</td>
               <td>
                  <input class="share-factor"
                         type="number"
                         name="actorShareFactor_{{actorxp.id}}"
                         value="{{actorxp.shareFactor}}"
                         step="0.1"
                         style="width: 46px;" />
               </td>
               <td>
                  <input class="actor-xp"
                         type="text"
                         name="actorXP_{{actorxp.id}}"
                         value="{{actorxp.xpsText}}"
                         style="width: 116px;" />
               </td>
               <td data-tooltip="{{localize 'FADE.Actor.XPBonus'}}">
                  {{actorxp.xpBonus}}%
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>

      <div class="form-group" style="margin-top:1em;">
         <!-- If you use type="button", remember to call this.submit() in activateListeners -->
         <button type="button" class="dialog-button">
            {{localize 'FADE.dialog.awardXP.short'}}
         </button>
      </div>
   </form>
</div>