<form>
   <style>
      table {
         width: 99%;
         text-align: left;
         vertical-align: top;
         border-collapse: collapse;
      }
      th, td {
         text-align: left;
         vertical-align: top;
         padding: 5px;
      }
      .action-description {
         font-size: 12px;
      }
      .col-name {
         min-width: 150px;
      }
      .combatant-name {         
         font-weight: 600;
         font-size: 15px;
      }
   </style>
   <p>{{localize "FADE.apps.playerCombat.prompt"}}</p>
   <table>
      <tbody>
         {{#each ownedCombatants as |combatant|}}
         <tr>
            <td class="col-name">
               <label  class="combatant-name">{{combatant.name}}</label><br/>
               <label class="action-description" data-tooltip="{{localize 'FADE.Actor.AT#.desc'}}">{{localize 'FADE.Actor.AT#.name'}}: {{combatant.attacks}}</label><br />
               <label class="action-description" data-tooltip="{{localize 'FADE.Actor.AT#Recv.desc'}}">{{localize 'FADE.Actor.AT#Recv.name'}}: {{combatant.attacksAgainst}}</label>
            </td>
            <td>
               <div>
                  <select class="declared-action-select" 
                          data-combatant-id="{{combatant.id}}" 
                          data-actor-id="{{combatant.actor.id}}"
                          {{#unless combatant.canChangeAction}} disabled{{/unless}}>
                     {{selectOptions @root.availableActions selected=combatant.declaredAction}}
                  </select>
               </div>
               <div class="action-description">
                  {{localize (concat 'FADE.combat.maneuvers.' combatant.declaredAction '.description')}}
               </div>
            </td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</form>
