<form>
   <style>
      table {
         width: 99%;
         text-align: left;
         vertical-align: top;
         border-collapse: collapse;
      }

      th, td {
         text-align: left;
         vertical-align: top;
         padding: 5px;
      }

      .font-12 {
         font-size: 12px;
      }

      .col-name {
         min-width: 150px;
      }

      .combatant-name {
         font-weight: 600;
         font-size: 15px;
      }
   </style>
   <p style="font-size:18px;">{{localize "FADE.apps.playerCombat.prompt"}}</p>
   <p style="font-style: italic">{{localize "FADE.apps.playerCombat.instructions"}}</p>
   <table>
      <tbody>
         {{#each ownedCombatants as |combatant|}}
         <tr data-token-id="{{combatant.token.id}}" data-actor-id="{{combatant.actor.id}}">
            <td class="col-name">
               <label class="combatant-name">{{combatant.name}}</label><br />
               <label class="font-12" data-tooltip="{{localize 'FADE.Actor.AT#.desc'}}">
                  {{localize 'FADE.Actor.AT#.name'}}: <span name="atno">{{combatant.attacks}}</span>
               </label>
               {{#if @root.useMastery}}
               <br />
               <label class="font-12" data-tooltip="{{localize 'FADE.Actor.AT#Recv.descH'}}">
                  {{localize 'FADE.Actor.AT#Recv.nameH'}}: <span name="atnorecvh">{{combatant.attAgainst.h}}</span>
               </label>
               <br />
               <label class="font-12" data-tooltip="{{localize 'FADE.Actor.AT#Recv.descM'}}">
                  {{localize 'FADE.Actor.AT#Recv.nameM'}}: <span name="atnorecvm">{{combatant.attAgainst.m}}</span>
               </label>
               {{/if}}
            </td>
            <td>
               <div>
                  <select name="declaredAction" data-token-id="{{combatant.token.id}}" {{#unless combatant.canChangeAction}} disabled{{/unless}}>
                     {{selectOptions combatant.availableActions selected=combatant.declaredAction}}
                  </select>
               </div>
               <div name="actionDesc" class="font-12">
                  {{localize (concat 'FADE.combat.maneuvers.' combatant.declaredAction '.description')}}
               </div>
            </td>
         </tr>
         {{/each}}
      </tbody>
   </table>
</form>