<div>
   <section class="flexrow bordered" style="margin-top: 10px;">
      <div class="form-group">
         <label>{{localize 'FADE.time.sessionCount'}}: </label>
         <span>{{turnData.sessionTR.turns}}</span>{{#if turnData.sessionTR.rounds}} / <span>{{turnData.sessionTR.roundsDisplay}}</span>{{/if}}
      </div>
      <div class="form-group">
         <label>{{localize 'FADE.time.totalCount'}}: </label>
         <span>{{turnData.totalTR.turns}}</span>{{#if turnData.totalTR.rounds}} / <span>{{turnData.totalTR.roundsDisplay}}</span>{{/if}}
      </div>
      {{#if restFrequency}}
   <div class="form-group">
      <label>{{localize 'FADE.time.sinceRest'}}: </label>
      <span>{{turnData.restTR.rounds}}</span>{{#if turnData.restTR.rounds}} / <span>{{turnData.restTR.roundsDisplay}}</span>{{/if}}
   </div>
      {{/if}}
   </section>
   <section class="flexrow" style="margin-top: 10px;">
      <button id="revert-turn" type="button" data-tooltip="{{localize 'FADE.time.prevDesc'}}"><i class="fa-solid fa-backward"></i> {{localize 'FADE.time.prev'}}</button>
      <button id="advance-turn" type="button" data-tooltip="{{localize 'FADE.time.nextDesc'}}"><i class="fa-solid fa-forward"></i> {{localize 'FADE.time.next'}}</button>
      {{#if restFrequency}}
      <button id="rest" type="button" data-tooltip="{{localize 'FADE.time.rest'}}"><i class="fa-solid fa-campground"></i> {{localize 'FADE.time.rest'}}</button>
      {{/if}}
   </section>
   <section class="flexrow" style="margin-top: 2px;">
      <button id="reset-session" type="button" data-tooltip="{{localize 'FADE.time.resetSession'}}"><i class="fa-solid fa-clock-rotate-left"></i> {{localize 'FADE.time.resetSession'}}</button>
      <button id="reset-total" type="button" data-tooltip="{{localize 'FADE.time.resetTotal'}}"><i class="fa-regular fa-calendar-xmark"></i> {{localize 'FADE.time.resetTotal'}}</button>
   </section>
</div>
