<div>
   <section>
      <table style="text-align:center;">
         <thead>
            <tr>
               <th style="width:120px;"></th>
               <th>{{camelize (localize 'FADE.turns')}}</th>
               <th>{{camelize (localize 'FADE.rounds')}}</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td style="text-align:right;"><label>{{localize 'FADE.time.sessionCount'}}:</label></td>
               <td><span>{{turnData.sessionTR.turns}}</span></td>
               <td><span>{{turnData.sessionTR.roundsDisplay}}</span></td>
            </tr>
            <tr>
               <td style="text-align:right;"><label>{{localize 'FADE.time.totalCount'}}:</label></td>
               <td><span>{{turnData.totalTR.turns}}</span></td>
               <td><span>{{turnData.totalTR.roundsDisplay}}</span></td>
            </tr>
            {{#if restFrequency}}
            <tr>
               <td style="text-align:right;"><label>{{localize 'FADE.time.sinceRest'}}:</label></td>
               <td><span>{{turnData.restTR.turns}}</span></td>
               <td><span>{{turnData.restTR.roundsDisplay}}</span></td>
            </tr>
            {{/if}}
         </tbody>
      </table>
   </section>
   <section class="flexrow">
      <button id="revert-turn" type="button" data-tooltip="{{localize 'FADE.time.prevDesc'}}"><i class="fa-solid fa-backward"></i> {{localize 'FADE.time.prev'}}</button>
      <button id="advance-turn" type="button" data-tooltip="{{localize 'FADE.time.nextDesc'}}"><i class="fa-solid fa-forward"></i> {{localize 'FADE.time.next'}}</button>
      {{#if restFrequency}}
      <button id="rest" type="button" data-tooltip="{{localize 'FADE.time.rest'}}"><i class="fa-solid fa-campground"></i> {{localize 'FADE.time.rest'}}</button>
      {{/if}}
   </section>
   <section class="flexrow" style="margin-top: 2px;">
      <button id="reset-session" type="button" data-tooltip="{{localize 'FADE.time.resetSession'}}"><i class="fa-solid fa-clock-rotate-left"></i> {{localize 'FADE.time.resetSession'}}</button>
      <button id="reset-total" type="button" data-tooltip="{{localize 'FADE.time.resetTotal'}}"><i class="fa-regular fa-calendar-xmark"></i> {{localize 'FADE.time.resetTotal'}}</button>
   </section>
</div>
