<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li class="flex3">
               <div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div>
               <label>{{localize 'FADE.Actor.Name'}}</label>
            </li>
            <li class="flex0" style="min-width:40px;">
               <div class="text-center">{{system.totalAc}}</div>
               <label>{{localize 'FADE.Armor.total'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex2">
               <input type='text' name='system.ac' value='{{system.ac}}' data-dtype='Number' />
               <label for="system.ac">{{localize 'FADE.Armor.long'}}</label>
            </li>
            <li class="flex1">
               <div class="item-info">{{system.mod}}</div>
               <label>{{localize 'FADE.Armor.mod'}}</label>
            </li>
            <li class="flex1">
               <input type="checkbox" name="system.isShield" data-dtype="Boolean" {{#if system.isShield}} checked{{/if}} />
               <label for="system.isShield">{{localize "FADE.Armor.shield.short"}}</label>
            </li>
            <li class="flex1">
               <input type="checkbox" name="system.natural" data-dtype="Boolean" {{#if system.natural}} checked{{/if}} title="{{localize "FADE.Armor.natural.desc"}}" />
               <label for="system.natural" title="{{localize "FADE.Armor.natural.desc"}}">{{localize "FADE.Armor.natural.short"}}</label>
            </li>
            <li class="flex2">
               <input type='text' name="system.weight" value='{{system.weight}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} />
               <label for="system.weight">{{localize 'FADE.Item.weight.short'}}</label>
            </li>
            <li class="flex2">
               <input type='text' name="system.cost" value='{{system.cost}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} />
               <label for="system.cost">{{localize 'FADE.Item.cost.long'}}</label>
            </li>
         </ul>
      </div>
   </header>

   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>Description</a>
      {{#if isGM}}
      <a class='item' data-tab='effects'>Effects</a>
      <a class='item' data-tab='gm-only'>GM Only</a>
      {{/if}}
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
      {{! GM-Only Tab }}
      {{#if isGM}}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         <!-- Content that only the GM should see goes here -->
         <label for="gm-notes">GM Notes:</label>
         <textarea id="gm-notes" name="system.gm.notes" rows="5">{{system.gm.notes}}</textarea>
         <!-- You can add more GM-specific content here -->
      </div>
      {{/if}}
   </section>
</form>