<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
         <ul class="summary flexrow">
            <li class="flex1">
               <input type='text' name='system.ac' value='{{system.ac}}' data-dtype='Number' />
               <label for="system.ac">{{localize 'FADE.Armor.long'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.mod.ac' value='{{system.mod.ac}}' data-dtype='Number' />
               <label for="system..modac">{{localize 'FADE.Armor.mod'}}</label>
            </li>
            <li class="flex1">
               <input type="checkbox" name="system.isShield" data-dtype="Boolean" {{#if system.isShield}} checked{{/if}} />
               <label for="system.isShield">{{localize "FADE.Armor.shield.short"}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.weight" value='{{system.weight}}' data-dtype='Number' />
               <label for="system.weight" class='resource-label'>{{localize 'FADE.Item.weight.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.cost" value='{{system.cost}}' data-dtype='Number' />
               <label for="system.cost" class='resource-label'>{{localize 'FADE.Item.cost.long'}}</label>
            </li>
         </ul>
      </div>
   </header>

   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>Description</a>
      <a class='item' data-tab='effects'>Effects</a>
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>

    {{! Effects Tab }}
    <div class='tab effects' data-group='primary' data-tab='effects'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
      </div>
    </div>
   </section>
</form>