<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li class="flex3">
               <div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div>
               <label>{{localize 'FADE.Actor.Name'}}</label>
            </li>
            <li class="flex1" style="min-width:40px;">
               <input type='text' name='system.species' value='{{system.species}}' data-dtype='String' />
               <label>{{localize 'FADE.Actor.Species'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.alignment' value='{{system.alignment}}' data-dtype='String' />
               <label for="system.alignment">{{localize 'FADE.Actor.Alignment'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.maxLevel' value='{{system.maxLevel}}' data-dtype='Number' />
               <label for="system.maxLevel" data-tooltip="{{localize 'FADE.Actor.maxLevel.hint'}}">{{localize 'FADE.Actor.maxLevel.name'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.firstLevel' value='{{system.firstLevel}}' data-dtype='Number' />
               <label for="system.firstLevel" data-tooltip="{{localize 'FADE.Actor.firstLevel.hint'}}">{{localize 'FADE.Actor.firstLevel.name'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex1">
               <input type='text' name='system.maxSpellLevel' value='{{system.maxSpellLevel}}' data-dtype='Number' />
               <label for="system.maxSpellLevel" data-tooltip="{{localize 'FADE.Actor.maxSpellLevel.hint'}}">{{localize 'FADE.Actor.maxSpellLevel.name'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.minCon' value='{{system.minCon}}' data-dtype='Number' />
               <label for="system.minCon">{{localize 'FADE.Actor.Min'}} {{localize 'FADE.Actor.Abilities.con.abbr'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.minInt' value='{{system.minInt}}' data-dtype='Number' />
               <label for="system.minInt">{{localize 'FADE.Actor.Min'}} {{localize 'FADE.Actor.Abilities.int.abbr'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.minDex' value='{{system.minDex}}' data-dtype='Number' />
               <label for="system.minDex">{{localize 'FADE.Actor.Min'}} {{localize 'FADE.Actor.Abilities.dex.abbr'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.minWis' value='{{system.minWis}}' data-dtype='Number' />
               <label for="system.minWis">{{localize 'FADE.Actor.Min'}} {{localize 'FADE.Actor.Abilities.wis.abbr'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name='system.key' value='{{system.key}}' data-dtype='String' />
               <label for="system.key" data-tooltip{{localize 'FADE.class.key.hint'}}>{{localize 'FADE.class.key.name'}}</label>
            </li>
         </ul>
      </div>
   </header>

   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='levels'>{{localize 'FADE.tabs.levels'}}</a>
      <a class='item' data-tab='saves'>{{localize 'FADE.Actor.Saves.long'}}</a>
      <a class='item' data-tab='primeReqs'>{{localize 'FADE.tabs.primeRequisites'}}</a>
      {{#if isSpellcaster}}
      <a class='item' data-tab='spells'>{{localize 'FADE.tabs.spells'}}</a>
      {{/if}}
      <a class='item' data-tab='description'>{{localize 'FADE.tabs.description'}}</a>
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      <div class='tab' data-group='primary' data-tab='levels'>
         {{> "systems/fantastic-depths/templates/item/parts/class-levels.hbs"}}
      </div>
      <div class='tab' data-group='primary' data-tab='saves'>
         {{> "systems/fantastic-depths/templates/item/parts/class-saves.hbs"}}
      </div>
      <div class='tab' data-group='primary' data-tab='primeReqs'>
         {{> "systems/fantastic-depths/templates/item/parts/class-primereqs.hbs"}}
      </div>
      {{#if isSpellcaster}}
      <div class='tab' data-group='primary' data-tab='spells'>
         {{> "systems/fantastic-depths/templates/item/parts/class-spells.hbs"}}
      </div>
      {{/if}}
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
   </section>
</form>