<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li><div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div></li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex1">
               <input type='text' name="system.quantity" value='{{system.quantity}}' data-dtype='Number' {{#if system.container}} readonly{{/if}} />
               <label for="system.quantity">{{localize 'FADE.Item.quantity.long'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.quantityMax" value='{{system.quantityMax}}' data-dtype='Number' {{#if system.container}} readonly{{/if}} />
               <label for="system.quantityMax">{{localize 'FADE.Item.quantity.maxLong'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.weight" value='{{system.weight}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} />
               <label for="system.weight" data-tooltip="{{localize 'FADE.Item.weight.desc'}}">{{localize 'FADE.Item.weight.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.cost" value='{{system.cost}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} />
               <label for="system.cost">{{localize 'FADE.Item.cost.long'}}</label>
            </li>
         </ul>
      </div>
   </header>
   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      {{#if isGM}}
      <a class='item' data-tab='attributes'>{{localize 'FADE.tabs.attributes'}}</a>
      {{/if}}
      <a class='item' data-tab='description'>{{localize 'FADE.tabs.description'}}</a>
      {{#if isGM}}
      <a class='item' data-tab='effects'>{{localize 'FADE.tabs.effects'}}</a>
      <a class='item' data-tab='gm-only'>{{localize 'FADE.tabs.gmOnly'}}</a>
      {{/if}}
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
      {{#if isGM}}
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
      {{! Attributes Tab }}
      <div class='tab' data-group='primary' data-tab='attributes'>
         <div>
            {{> "systems/fantastic-depths/templates/item/parts/item-flags.hbs"}}
         </div>
         <section class="bordered">
            {{#if system.isLight}}
            <ul class="summary flexrow">
               <li class="flex1">
                  <input type="checkbox" name="system.container" data-dtype="Boolean" {{#if system.container}} checked{{/if}} data-tooltip="{{localize "FADE.Item.isContainer"}}" />
                  <label for="system.container" data-tooltip="{{localize "FADE.Item.isContainer"}}">{{localize "FADE.Item.isContainer"}}</label>
               </li>
               <li class="flex1">
                  <input type="checkbox" name="system.equippable" data-dtype="Boolean" {{#if system.equippable}} checked{{/if}} data-tooltip="{{localize "FADE.Item.isEquippable"}}" />
                  <label for="system.equippable" data-tooltip="{{localize "FADE.Item.isEquippable"}}">{{localize "FADE.Item.isEquippable"}}</label>
               </li>
            </ul>
            <ul class="summary flexrow">
               <li class="flex1">
                  <input name="system.light.duration" type="text" data-dtype="Number" value="{{system.light.duration}}" />
                  <label for="system.light.duration" data-tooltip="{{localize "FADE.Item.light.durationHint"}}">{{localize "FADE.Spell.duration"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.light.radius" type="text" data-dtype="Number" value="{{system.light.radius}}" />
                  <label for="system.light.radius" data-tooltip="{{localize 'FADE.Item.light.radiusHint'}}">{{localize "FADE.Item.light.radius"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.light.bright" type="text" data-dtype="Number" value="{{system.light.bright}}" {{#unless isCustom}} readonly{{/unless}} />
                  <label for="system.light.bright" data-tooltip="{{localize 'FADE.Item.light.brightHint'}}">{{localize "FADE.Item.light.bright"}}</label>
               </li>
               <li class="flex2">
                  <select name="system.light.type">
                     {{selectOptions lightTypes selected=system.light.type}}
                  </select>
                  <label for="system.light.type">{{localize "FADE.Item.light.typeLabel"}}</label>
               </li>
               <li class="flex2">
                  <input name="system.light.fuelType" type="text" data-dtype="String" value="{{system.light.fuelType}}" />
                  <label for="system.light.fuelType">{{localize "FADE.Item.light.fuelType"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.light.turnsActive" type="text" data-dtype="Number" value="{{system.light.turnsActive}}" readonly />
                  <label for="system.light.turnsActive" data-tooltip="{{localize 'FADE.Item.light.turnsActiveHint'}}">{{localize "FADE.Item.light.turnsActive"}}</label>
               </li>
            </ul>
            {{#if isCustom}}
            <ul class="summary flexrow">
               <li class="flex2">
                  <div style="margin-top:0;">
                     {{colorPicker name="light.color" value=system.light.color}}
                  </div>
                  <label data-tooltip="{{localize 'FADE.Item.light.colorHint'}}">{{localize "FADE.Item.light.color"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.light.attenuation" type="text" data-dtype="Number" value="{{system.light.attenuation}}" />
                  <label for="system.light.attenuation">{{localize "FADE.Item.light.attenuation"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.light.luminosity" type="text" data-dtype="Number" value="{{system.light.luminosity}}" />
                  <label for="system.light.luminosity">{{localize "FADE.Item.light.luminosity"}}</label>
               </li>
               <li class="flex1">
                  <label for="system.light.angle">{{localize "FADE.Item.light.angle" }} <span class="units">({{localize "Degrees"}})</span></label>
                  <div class="form-fields">
                     <input type="number" name="system.light.angle" value="{{system.light.angle}}" placeholder="{{localize "Degrees"}}" />
                  </div>
               </li>
            </ul>
            <ul class="summary flexrow">
               <li class="flex2">
                  <select name="system.light.animation.type">
                     {{selectOptions animationTypes selected=system.light.animation.type localize=true}}
                  </select>
                  <label for="system.light.animation.type">{{localize "FADE.Item.light.animationType"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.light.animation.speed" type="text" data-dtype="Number" value="{{system.light.animation.speed}}" />
                  <label for="system.light.animation.speed">{{localize "FADE.Item.light.animationSpeed"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.light.animation.intensity" type="text" data-dtype="Number" value="{{system.light.animation.intensity}}" />
                  <label for="system.light.animation.intensity">{{localize "FADE.Item.light.animationIntensity"}}</label>
               </li>
            </ul>
            {{/if}}
            {{else}}
            <ul class="summary flexrow">
               <li class="flex1">
                  <input type="checkbox" name="system.container" data-dtype="Boolean" {{#if system.container}} checked{{/if}} data-tooltip="{{localize "FADE.Item.isContainer"}}" />
                  <label for="system.container" data-tooltip="{{localize "FADE.Item.isContainer"}}">{{localize "FADE.Item.isContainer"}}</label>
               </li>
               <li class="flex1">
                  <input type="checkbox" name="system.equippable" data-dtype="Boolean" {{#if system.equippable}} checked{{/if}} data-tooltip="{{localize "FADE.Item.isEquippable"}}" />
                  <label for="system.equippable" data-tooltip="{{localize "FADE.Item.isEquippable"}}">{{localize "FADE.Item.isEquippable"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.fuelType" type="text" data-dtype="String" value="{{system.fuelType}}" />
                  <label for="system.fuelType">{{localize "FADE.Item.light.fuelType"}}</label>
               </li>
               <li class="flex1">
                  <input name="system.ammoType" type="text" data-dtype="String" value="{{system.ammoType}}" />
                  <label for="system.ammoType" data-tooltip="{{localize "FADE.Weapon.ammo.typeHint"}}">{{localize "FADE.Weapon.ammo.type"}}</label>
               </li>
            </ul>
            {{/if}}
         </section>
      </div>
      {{! GM-Only Tab }}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         <label for="gm-notes">{{localize 'FADE.GMNotes'}}:</label>
         <textarea id="gm-notes" name="system.gm.notes" rows="5">{{system.gm.notes}}</textarea>
      </div>
      {{/if}}
   </section>
</form>