<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div>
         <ul class="summary flexrow">
            <li class="flex1">
               <input type='text' name="system.quantity" value='{{system.quantity}}' data-dtype='Number' />
               <label for="system.quantity">{{localize 'FADE.Item.quantity.long'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.quantityMax" value='{{system.quantityMax}}' data-dtype='Number' />
               <label for="system.quantityMax">{{localize 'FADE.Item.quantity.maxLong'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.weight" value='{{system.weight}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} />
               <label for="system.weight" title="{{localize 'FADE.Item.weight.desc'}}">{{localize 'FADE.Item.weight.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.cost" value='{{system.cost}}' data-dtype='Number' {{#unless isGM}} readonly{{/unless}} />
               <label for="system.cost">{{localize 'FADE.Item.cost.long'}}</label>
            </li>
         </ul>
      </div>
   </header>
   {{> "systems/fantastic-depths/templates/item/parts/item-flags.hbs"}}
   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>{{localize 'FADE.Actor.Tabs.Description'}}</a>
      {{#if isGM}}
      <a class='item' data-tab='effects'>{{localize 'FADE.Actor.Tabs.Effects'}}</a>
      <a class='item' data-tab='attributes'>{{localize 'FADE.Item.tabs.attributes'}}</a>
      <a class='item' data-tab='gm-only'>{{localize 'FADE.Actor.Tabs.gmOnly'}}</a>
      {{/if}}
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
      {{#if isGM}}
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
      {{! Attributes Tab }}
      <div class='tab' data-group='primary' data-tab='attributes'>
         <section class="bordered">
            <ul class="summary flexrow">
               <li class="flex1">
                  <input type="checkbox" name="system.container" data-dtype="Boolean" {{#if system.container}} checked{{/if}} title="{{localize "FADE.Item.isContainer"}}" />
                  <label for="system.container" title="{{localize "FADE.Item.isContainer"}}">{{localize "FADE.Item.isContainer"}}</label>
               </li>
               <li class="flex1">
                  <input type="checkbox" name="system.equippable" data-dtype="Boolean" {{#if system.equippable}} checked{{/if}} title="{{localize "FADE.Item.isEquippable"}}" />
                  <label for="system.equippable" title="{{localize "FADE.Item.isEquippable"}}">{{localize "FADE.Item.isEquippable"}}</label>
               </li>
            </ul>
         </section>
         {{#if (includes system.tags 'light')}}
         <section class="bordered">
            <ul class="summary flexrow">
               <li class="flex1">
                  <input name="system.light.duration" type="text" data-dtype="Number" value="{{system.light.duration}}" />
                  <label for="system.light.duration">Duration</label>
               </li>
               <li class="flex1">
                  <input name="system.light.radius" type="text" data-dtype="Number" value="{{system.light.radius}}" />
                  <label for="system.light.radius">Radius</label>
               </li>
               <li class="flex2">
                  <input name="system.light.type" type="text" data-dtype="String" value="{{system.light.type}}" />
                  <label for="system.light.type">Light Type</label>
               </li>
               <li class="flex2">
                  <input name="system.light.fuel" type="text" data-dtype="String" value="{{system.light.fuel}}" />
                  <label for="system.light.fuel">Fuel Type</label>
               </li>
            </ul>
         </section>
         {{/if}}
      </div>
      {{! GM-Only Tab }}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         <label for="gm-notes">GM Notes:</label>
         <textarea id="gm-notes" name="system.gm.notes" rows="5">{{system.gm.notes}}</textarea>
      </div>
      {{/if}}
   </section>
</form>