<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-xsm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li>
               <div class='charname'>
                  {{#if false}}
                  <select name="name">
                     {{selectOptions masteryNames selected=item.name valueAttr="value" labelAttr="text"}}
                  </select>
                  {{else}}
                  <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
                  {{/if}}
               </div>
               <label for="name">{{localize 'FADE.Actor.Name'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex2">
               <select name="system.level">
                  {{selectOptions config.MasteryLevels selected=system.level}}
               </select>
               <label for="system.level">{{localize 'FADE.Actor.Level'}}</label>
            </li>
            <li class="flex1">
               <select name="system.primaryType" title="{{localize 'FADE.Mastery.targetTypeTitle'}}">
                  {{selectOptions targetTypes selected=system.primaryType valueAttr="value" labelAttr="text"}}
               </select>
               <label for="system.primaryType">{{localize 'FADE.Mastery.primary'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.acBonus" value='{{system.acBonus}}' data-dtype='Number' />
               <label for="system.acBonus">{{localize 'FADE.Mastery.acBonus'}}</label>
            </li>
            <li class="flex1">
               <select name="system.acBonusType" title="{{localize 'FADE.Mastery.targetTypeTitle'}}">
                  {{selectOptions targetTypes selected=system.acBonusType valueAttr="value" labelAttr="text"}}
               </select>
               <label for="system.acBonusType">{{localize 'FADE.Mastery.acBonusType'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.acBonusAT" value='{{system.acBonusAT}}' data-dtype='Number' title="{{localize 'FADE.Mastery.acBonusATTitle'}}" />
               <label for="system.acBonusAT">{{localize 'FADE.Mastery.acBonusAT'}}</label>
            </li>
         </ul>         
      </div>
   </header>
   <div>
      <ul class="summary flexrow">
         <li class="flex3">
            <input type='text' name="system.pDmgFormula" value='{{system.pDmgFormula}}' data-dtype='String' />
            <label for="system.pDmgFormula">{{localize 'FADE.Mastery.primary'}} {{localize 'FADE.Weapon.damage.short'}}</label>
         </li>
         <li class="flex2">
            <input type='text' name="system.pToHit" value='{{system.pToHit}}' data-dtype='Number' />
            <label for="system.pToHit">{{localize 'FADE.Mastery.primary'}} {{localize 'FADE.Weapon.mod.toHit.short'}}</label>
         </li>
         <li class="flex3">
            <input type='text' name="system.sDmgFormula" value='{{system.sDmgFormula}}' data-dtype='String' />
            <label for="system.sDmgFormula">{{localize 'FADE.Mastery.secondary'}} {{localize 'FADE.Weapon.damage.short'}}</label>
         </li>
         <li class="flex2">
            <input type='text' name="system.sToHit" value='{{system.sToHit}}' data-dtype='Number' />
            <label for="system.sToHit">{{localize 'FADE.Mastery.secondary'}} {{localize 'FADE.Weapon.mod.toHit.short'}}</label>
         </li>         
      </ul>
      <ul class="summary flexrow">
         <li class="flex2">
            <input type='text' name="system.special" value='{{system.special}}' data-dtype='String' />
            <label for="system.special">Special Effects</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.range.short" value='{{system.range.short}}' data-dtype='Number' />
            <label for="system.range.short">{{localize 'FADE.Weapon.range.short'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.range.medium" value='{{system.range.medium}}' data-dtype='Number' />
            <label for="system.range.medium">{{localize 'FADE.Weapon.range.medium'}}</label>
         </li>
         <li class="flex1">
            <input type='text' name="system.range.long" value='{{system.range.long}}' data-dtype='Number' />
            <label for="system.range.long">{{localize 'FADE.Weapon.range.long'}}</label>
         </li>
      </ul>
   </div>
   {{#if false}}
   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>Description</a>
      {{#if isGM}}
      <a class='item' data-tab='effects'>Effects</a>
      {{/if}}
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable }}
      </div>
      {{#if isGM}}
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
      {{/if}}
   </section>
   {{/if}}
</form>