<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' data-tooltip='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li>
               <div class='charname'>
                  <input name='name' type='text' value='{{item.name}}' placeholder='Name' {{#unless isGM}} readonly{{/unless}} />
               </div>
               <label>{{localize 'Name'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex0">
               <select name="system.ability" {{#unless isGM}} disabled='disabled' {{/unless}}>
                  {{selectOptions abilities selected=system.ability}}
               </select>
               <label for="system.ability">{{localize 'FADE.Actor.Abilities.long'}}</label>
            </li>
            <li class="flex1">
               <input type='number' name="system.level" value='{{system.level}}' data-dtype='Number' />
               <label for="system.level">{{localize 'FADE.Actor.Level'}}</label>
            </li>
            <li class="flex2">
               <select name="system.rollMode" {{#unless isGM}} disabled='disabled' {{/unless}}>
                  {{selectOptions rollModes selected=system.rollMode}}
               </select>
            </li>
            <li class="flex2">
               <input type='text' name='system.healFormula' value='{{system.healFormula}}' data-dtype='String' {{#unless isGM}} readonly{{/unless}} />
               <label for="system.healFormula">{{localize 'FADE.Spell.healFormula'}}</label>
            </li>
         </ul>
      </div>
   </header>
   {{! Sheet Tab Navigation }}
<nav class='sheet-tabs tabs' data-group='primary'>
   <a class='item' data-tab='description'>{{localize 'FADE.tabs.description'}}</a>
   {{#if isGM}}
   <a class='item' data-tab='attributes'>{{localize 'FADE.tabs.attributes'}}</a>
   <a class='item' data-tab='effects'>{{localize 'FADE.tabs.effects'}}</a>
   {{/if}}
</nav>
   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! attributes Tab }}
      {{#if isGM}}
      <div class='tab' data-group='primary' data-tab='attributes'>
         <div class="bordered">
            <div class="summary flexrow">
               <div>
                  <input type='text' name="system.rollFormula" value='{{system.rollFormula}}' data-dtype='String' />
                  <label for="system.rollFormula">{{localize 'FADE.roll'}}</label>
               </div>
               <div style="max-width:50px;">
                  <select name="system.operator">
                     {{selectOptions operators selected=system.operator}}
                  </select>
                  <label for="system.operator">{{localize 'FADE.operator'}}</label>
               </div>
               <div>
                  <input type='text' name="system.targetFormula" value='{{system.targetFormula}}' data-dtype='String' />
                  <label for="system.targetFormula">{{localize 'FADE.target'}}</label>
               </div>
               <div style="max-width:60px">
                  <input type="checkbox" name="system.showResult" data-dtype="Boolean" {{#if system.showResult}} checked{{/if}} data-tooltip="{{localize 'FADE.showResult.hint'}}" />
                  <label for="system.showResult" data-tooltip="{{localize 'FADE.showResult.hint'}}">{{localize 'FADE.showResult.name'}}</label>
               </div>
            </div>
            <div class="summary flexrow">
               <div style="max-width:100px">
                  <input type='text' name="system.autoSuccess" value='{{system.autoSuccess}}' data-dtype='Number' data-tooltip="{{localize 'FADE.SpecialAbility.autoSuccessHint'}}" />
                  <label for="system.autoSuccess" data-tooltip="{{localize 'FADE.SpecialAbility.autoSuccessHint'}}">{{localize 'FADE.SpecialAbility.autoSuccess'}}</label>
               </div>
               <div style="max-width:100px">
                  <input type='text' name="system.autoFail" value='{{system.autoFail}}' data-dtype='Number' data-tooltip="{{localize 'FADE.SpecialAbility.autoFailHint'}}" />
                  <label for="system.autoFail" data-tooltip="{{localize 'FADE.SpecialAbility.autoFailHint'}}">{{localize 'FADE.SpecialAbility.autoFail'}}</label>
               </div>
               <div style="max-width:100px">
                  <input type='number' name="system.skillBonus" value='{{system.skillBonus}}' data-dtype='Number' />
                  <label for="system.skillBonus" data-tooltip="{{localize 'FADE.Skill.bonusHint'}}">{{localize 'FADE.bonus'}}</label>
               </div>
               <div style="max-width:100px">
                  <input type='number' name="system.skillPenalty" value='{{system.skillPenalty}}' data-dtype='Number' />
                  <label for="system.skillPenalty" data-tooltip="{{localize 'FADE.Skill.penaltyHint'}}">{{localize 'FADE.penalty'}}</label>
               </div>
            </div>
         </div>
      </div>
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "itemEffects"}}
      </div>
      {{/if}}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDesc target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
   </section>
</form>