<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' style="width:40px; height:40px;" />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li class='charname'>
               <input type='text' name='name' value='{{item.name}}' placeholder='Name' {{#unless isGM}} readonly{{/unless}} />
            </li>
         </ul>
      </div>
   </header>
   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>{{localize 'FADE.tabs.description'}}</a>
      <a class='item' data-tab='attributes'>{{localize 'FADE.tabs.attributes'}}</a>
      <a class='item' data-tab='abilities'>{{localize 'FADE.tabs.abilities'}}</a>
      <a class='item' data-tab='effects'>{{localize 'FADE.tabs.effects'}}</a>
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDesc target='system.description' engine="prosemirror" button=true editable=editable}}
      </div>
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
      {{! Attributes Tab }}
      <div class='tab' data-group='primary' data-tab='attributes'>
         {{! Ability score minimums }}
         <div class="bordered">
            <h4>{{localize 'FADE.species.requiredScores'}}</h4>
            <div class="flexrow" style="margin-top:10px;">
               {{#each system.abilities as |ability key|}}
               <div>
                  <div class="flex-group-center">
                     <input type="text" style="max-width:50px" name="system.abilities.{{key}}.min" value="{{ability.min}}" data-dtype="Number" />
                  </div>
                  <div class="flex-group-center">
                     <label for="system.abilities.{{key}}.value" style="font-size: 12px;text-align:center;" class="flex0 abbr">
                        {{localize (concat 'FADE.Actor.Abilities.' key '.abbr')}} {{localize 'FADE.Actor.Min'}}
                     </label>
                  </div>
               </div>
               {{/each}}
            </div>
         </div>
         {{! Classes }}
         <div class="bordered">
            <h4>{{localize 'FADE.species.classes'}}</h4>
            <ol name="class-abilities" class='items-list'>
               <!-- Header Row -->
               <li class='item flexrow items-header collapsible-header'>
                  <div>{{localize 'FADE.name'}}</div>
                  <div style="max-width:80px">{{localize 'FADE.Actor.maxLevel.name'}}</div>
                  <div class='item-controls'>
                     <a class='item-control item-create' data-tooltip='{{localize "DOCUMENT.Create" type=(localize "FADE.Actor.Class")}}' data-type='class'>
                        <i class='fas fa-plus'></i>
                        {{localize 'FADE.Actor.Class'}}
                     </a>
                  </div>
               </li>
               <!-- Class Ability Entries -->
               {{#each system.classes as |item index|}}
               <li class='item flexrow'>
                  <div>
                     <input type="text" style="text-align:left;" name="system.classes.{{index}}.name" value="{{item.name}}" data-dtype="String" />
                  </div>
                  <div style="max-width:80px">
                     <input type="number" name="system.classes.{{index}}.maxLevel" value="{{item.maxLevel}}" data-dtype="Number" />
                  </div>
                  <div class='item-controls'>
                     <a class='item-control item-delete' data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.Actor.Class")}}' data-type='class' data-index='{{index}}'>
                        <i class='fas fa-trash'></i>
                     </a>
                  </div>
               </li>
               {{/each}}
            </ol>
         </div>
         {{! Other Stuff }}
         <div class="bordered">
            <ul class="summary flexrow">
               <li>
                  <input type="text" name="system.baseMovement" value="{{system.baseMovement}}" data-dtype="String" />
                  <label for="system.baseMovement" data-tooltip="{{FADE.Actor.Movement.turnHint}}">{{localize 'FADE.Actor.Movement.moveTurn'}}</label>
               </li>
               <li>
                  <input type="text" name="system.heightFormula" value="{{system.heightFormula}}" data-dtype="String" data-tooltip="{{system.heightFormula}}" />
                  <label for="system.heightFormula">{{localize 'FADE.Actor.Height'}}</label>
               </li>
               <li>
                  <input type="text" name="system.weightFormula" value="{{system.weightFormula}}" data-dtype="String" data-tooltip="{{system.weightFormula}}" />
                  <label for="system.weightFormula">{{localize 'FADE.Actor.Weight'}}</label>
               </li>
            </ul>
         </div>
      </div>
      {{! Special Abilities / Skills Tab }}
      <div class="tab" data-group="primary" data-tab="abilities">
         <ol name="class-abilities" class='items-list'>
            <!-- Header Row -->
            <li class='item flexrow items-header collapsible-header'>
               <div>{{localize 'FADE.name'}}</div>
               <div style="max-width:60px">{{localize 'FADE.class.key.name'}}</div>
               <div style="max-width:60px">{{localize 'FADE.target'}}</div>
               <div class='item-controls'>
                  <a class='item-control item-create' data-tooltip='{{localize "DOCUMENT.Create" type=(localize "FADE.SpecialAbility.long")}}' data-type='specialAbility'>
                     <i class='fas fa-plus'></i>
                     {{localize 'FADE.SpecialAbility.short'}}
                  </a>
               </div>
            </li>
            <!-- Class Ability Entries -->
            {{#each system.specialAbilities as |item index|}}
            <li class='item flexrow'>
               <div>
                  <input type="text" style="text-align:left;" name="system.specialAbilities.{{index}}.name" value="{{item.name}}" data-dtype="String" />
               </div>
               <div style="max-width:60px">
                  <input type="text" name="system.specialAbilities.{{index}}.classKey" value="{{item.classKey}}" data-dtype="String" />
               </div>
               <div style="max-width:60px">
                  <input type="text" name="system.specialAbilities.{{index}}.target" value="{{item.target}}" data-dtype="String" />
               </div>
               <div class='item-controls'>
                  <a class='item-control item-delete' data-tooltip='{{localize "DOCUMENT.Delete" type=(localize "FADE.SpecialAbility.long")}}' data-type='specialAbility' data-index='{{index}}'>
                     <i class='fas fa-trash'></i>
                  </a>
               </div>
            </li>
            {{/each}}
         </ol>
         {{! Languages }}
         <div class="bordered">
            <div class="flexrow tag-section">
               <div class="flex0 add-tag">
                  {{#if isGM}}
                  <input type="text" data-action="add-language" placeholder="{{localize 'FADE.Tags.addLanguage'}}" data-tooltip="{{localize 'FADE.Tags.languageDesc'}}" />
                  {{/if}}
               </div>
               <div class="flex3">
                  <div class="flexrow">
                     <ol class="tag-list" style="height:auto;line-height: 15px;">
                        {{#each system.languages as |language|}}
                        <li class="tag" data-tag="{{language}}">
                           <span>{{language}}</span>
                           {{#if @root.isGM}}
                           <a class="language-delete"><i class="fas fa-times"></i></a>
                           {{/if}}
                        </li>
                        {{/each}}
                     </ol>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</form>