{{! This template is a fallback for when items don't have more specific templates. }}
{{! Generally, you'll want to make more specific templates when possible. }}
<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li>
               <div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div>
               <label>{{localize 'FADE.Actor.Name'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li>
               <input type='text' name="system.roll" value='{{system.roll}}' data-dtype='String' />
               <label for="system.roll">{{localize 'FADE.roll'}}</label>
            </li>
            <li>
               <select name="system.operator">
                  {{selectOptions operators selected=system.operator}}
               </select>
               <label for="system.operator">{{localize 'FADE.operator'}}</label>
            </li>
            <li>
               <input type='text' name="system.target" value='{{system.target}}' data-dtype='Number' />
               <label for="system.target">{{localize 'FADE.target'}}</label>
            </li>
            <li class="flex2">
               <select name="system.rollMode">
                  {{selectOptions rollModes selected=system.rollMode}}
               </select>
               <label for="system.operator">{{localize 'FADE.rollMode'}}</label>
            </li>
         </ul>
      </div>
   </header>

   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>Description</a>
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>

      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
   </section>
</form>