{{! This template is a fallback for when items don't have more specific templates. }}
{{! Generally, you'll want to make more specific templates when possible. }}
<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li>
               <div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div>
               <label>{{localize 'FADE.Actor.Name'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li>
               <input type='text' name="system.rollFormula" value='{{system.rollFormula}}' data-dtype='String' />
               <label for="system.rollFormula">{{localize 'FADE.roll'}}</label>
            </li>
            <li>
               <select name="system.operator">
                  {{selectOptions operators selected=system.operator}}
               </select>
               <label for="system.operator">{{localize 'FADE.operator'}}</label>
            </li>
            <li>
               <input type='text' name="system.target" value='{{system.target}}' data-dtype='Number' />
               <label for="system.target">{{localize 'FADE.target'}}</label>
            </li>
            <li class="flex2">
               <select name="system.rollMode">
                  {{selectOptions rollModes selected=system.rollMode}}
               </select>
               <label for="system.operator">{{localize 'FADE.rollMode'}}</label>
            </li>
            <li class="flex1">
               <select name="system.savingThrow">
                  {{selectOptions savingThrows selected=system.savingThrow valueAttr="value" labelAttr="text"}}
               </select>
               <label for="system.savingThrow">{{localize 'FADE.Actor.Saves.singular'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li>
               <input type='text' name='system.healFormula' value='{{system.healFormula}}' data-dtype='String' />
               <label for="system.healFormula">{{localize 'FADE.Spell.healFormula'}}</label>
            </li>
            <li>
               <input type='text' name='system.dmgFormula' value='{{system.dmgFormula}}' data-dtype='String' />
               <label for="system.dmgFormula">{{localize 'FADE.Weapon.damage.long'}}</label>
            </li>
            <li>
               <select name="system.damageType">
                  {{selectOptions damageTypes selected=system.damageType valueAttr="value" labelAttr="text"}}
               </select>
               <label for="system.damageType">{{localize 'FADE.DamageTypes.name'}}</label>
            </li>
         </ul>
      </div>
   </header>

   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>{{localize 'FADE.Actor.Tabs.Description'}}</a>
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
   </section>
</form>