<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li>
               {{#if (or isGM system.isIdentified)}}
               <input type='text' name='name' value='{{item.name}}' placeholder='Name' {{#unless isGM}}readonly{{/unless}}/>
               {{else}}
               <input type='text' name='system.unidentifiedName' value='{{system.unidentifiedName}}' placeholder='Name' data-dtype='String' />
               {{/if}}
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex1">
               <input type='text' name="system.quantity" value='{{system.quantity}}' data-dtype='Number' {{#if system.container}}readonly{{/if}} placeholder="{{#if (eq system.quantity null)}}∞{{/if}}" />
               <label for="system.quantity">{{localize 'FADE.Item.quantity.long'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.quantityMax" value='{{system.quantityMax}}' data-dtype='Number' {{#if system.container}}readonly{{/if}} placeholder="{{#if (eq system.quantityMax null)}}∞{{/if}}" />
               <label for="system.quantityMax">{{localize 'FADE.Item.quantity.maxLong'}}</label>
            </li>
            <li class="flex1">
               {{#if (or isGM system.isIdentified)}}
               <input type='text' name="system.cost" value='{{system.cost}}' data-dtype='Number' {{#unless isGM}}readonly{{/unless}} />
               {{else}}
               <input type='text' value='?' data-dtype='Number' {{#unless isGM}}readonly{{/unless}} />
               {{/if}}
               <label for="system.cost">{{localize 'FADE.Item.cost.long'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.weight" value='{{system.weight}}' data-dtype='Number' {{#unless isGM}}readonly{{/unless}} />
               <label for="system.weight" data-tooltip="{{localize 'FADE.Item.weight.desc'}}">{{localize 'FADE.Item.weight.short'}}</label>
            </li>
         </ul>
      </div>
   </header>
   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>{{localize 'FADE.tabs.description'}}</a>
      {{#if isGM}}
      <a class='item' data-tab='attributes'>{{localize 'FADE.tabs.attributes'}}</a>
      <a class='item' data-tab='effects'>{{localize 'FADE.tabs.effects'}}</a>
      <a class='item' data-tab='gm-only'>{{localize 'FADE.tabs.gmOnly'}}</a>
      {{/if}}
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{#if (or isGM system.isIdentified)}}
         {{editor enrichedDesc target='system.description' engine="prosemirror" button=true editable=editable}}
         {{else}}
         {{editor enrichedUIDesc target='system.unidentifiedDesc' engine="prosemirror" button=true editable=editable}}
         {{/if}}
      </div>
      {{#if isGM}}
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
      {{! Attributes Tab }}
      <div class='tab' data-group='primary' data-tab='attributes'>
         <div>
            {{> "systems/fantastic-depths/templates/item/parts/item-flags.hbs"}}
         </div>
         {{> "systems/fantastic-depths/templates/item/parts/item-identified.hbs"}}
      </div>
      {{! GM-Only Tab }}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         <label for="gm-notes">{{localize 'FADE.GMNotes'}}:</label>
         <textarea id="gm-notes" name="system.gm.notes" rows="5">{{system.gm.notes}}</textarea>
      </div>
      {{/if}}
   </section>
</form>