<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <ul class="summary flexrow">
            <li class="flex3">
               <div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div>
            </li>
            <li class="flex1">
               <input type='text' name="system.weight" value='{{system.weight}}' data-dtype='Number' />
               <label for="system.weight" data-tooltip="{{localize 'FADE.Item.weight.desc'}}">{{localize 'FADE.Item.weight.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.cost" value='{{system.cost}}' data-dtype='Number' />
               <label for="system.cost">{{localize 'FADE.Item.cost.long'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex2">
               <input type='text' name="system.damageRoll" value='{{system.damageRoll}}' data-dtype='String' />
               <label for="system.damageRoll">{{localize 'FADE.Weapon.damage.long'}}</label>
            </li>
            <li class="flex2">
               <input type='text' name="system.mastery" value='{{system.mastery}}' data-dtype='String' />
               <label for="system.mastery">{{localize 'FADE.Mastery.short'}}</label>
            </li>
            <li class="flex2">
               <select name="system.damageType">
                  {{selectOptions damageTypes selected=system.damageType}}
               </select>
               <label for="system.damageType">{{localize 'FADE.Weapon.damage.type'}}</label>
            </li>
            <li class="flex2">
               <select name="system.weaponType" data-tooltip="{{localize 'FADE.Mastery.weaponTypeTitle'}}">
                  {{selectOptions weaponTypes selected=system.weaponType}}
               </select>
               <label for="system.weaponType" data-tooltip="{{localize 'FADE.Mastery.weaponTypeTitle'}}">{{localize 'FADE.Mastery.weaponType'}}</label>
            </li>
         </ul>
      </div>
   </header>
   {{> "systems/fantastic-depths/templates/item/parts/item-flags.hbs"}}
   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      {{#if showAttributes}}
      <a class='item' data-tab='attributes'>{{localize 'FADE.tabs.attributes'}}</a>
      {{/if}}
      <a class='item' data-tab='description'>{{localize 'FADE.tabs.description'}}</a>
      {{#if isGM}}
      <a class='item' data-tab='effects'>{{localize 'FADE.tabs.effects'}}</a>
      <a class='item' data-tab='gm-only'>{{localize 'FADE.tabs.gmOnly'}}</a>
      {{/if}}
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! attributes Tab }}
      {{#if showAttributes}}
      <div class='tab' data-group='primary' data-tab='attributes'>
         {{> "systems/fantastic-depths/templates/item/parts/weapon-attributes.hbs"}}
      </div>
      {{/if}}
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>
      {{#if isGM}}
      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         <ul class="summary flexrow">
            <li class="flex1">
               <div>{{system.mod.dmg}}</div>
               <label for="system.mod.dmg">{{localize 'FADE.Weapon.mod.dmg.short'}}</label>
            </li>
            <li class="flex1">
               <div>{{system.mod.toHit}}</div>
               <label for="system.mod.toHit">{{localize 'FADE.Weapon.mod.toHit.short'}}</label>
            </li>
            <li class="flex1">
               <div>{{system.mod.dmgRanged}}</div>
               <label for="system.mod.dmgRanged">{{localize 'FADE.Weapon.mod.dmgRanged.short'}}</label>
            </li>
            <li class="flex1">
               <div>{{system.mod.toHitRanged}}</div>
               <label class="text-center" for="system.mod.toHitRanged">{{localize 'FADE.Weapon.mod.toHitRanged.short'}}</label>
            </li>
         </ul>
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
      {{! GM-Only Tab }}
      <div class='tab' data-group='primary' data-tab='gm-only'>
         <label for="gm-notes">{{localize 'FADE.GMNotes'}}:</label>
         <textarea id="gm-notes" name="system.gm.notes" rows="5">{{system.gm.notes}}</textarea>
      </div>
      {{/if}}
   </section>
</form>