<form class='{{cssClass}}' autocomplete='off'>
   <header class='sheet-header'>
      <img class='profile-img-sm' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
      <div class='header-fields'>
         <div class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></div>
         <ul class="summary flexrow">
            <li class="flex2">
               <input type='text' name="system.damageRoll" value='{{system.damageRoll}}' data-dtype='String' />
               <label for="system.damageRoll" class='resource-label'>{{localize 'FADE.Weapon.damage.long'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.mod.dmg" value='{{system.mod.dmg}}' data-dtype='Number' />
               <label for="system.mod.dmg" class='resource-label'>{{localize 'FADE.Weapon.mod.dmg.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.mod.toHit" value='{{system.mod.toHit}}' data-dtype='Number' />
               <label for="system.mod.toHit" class='resource-label'>{{localize 'FADE.Weapon.mod.toHit.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.weight" value='{{system.weight}}' data-dtype='Number' />
               <label for="system.weight" class='resource-label'>{{localize 'FADE.Item.weight.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.cost" value='{{system.cost}}' data-dtype='Number' />
               <label for="system.cost" class='resource-label'>{{localize 'FADE.Item.cost.long'}}</label>
            </li>
         </ul>
         <ul class="summary flexrow">
            <li class="flex1">
               <input type="checkbox" name="system.canMelee" data-dtype="Boolean" {{#if system.canMelee}} checked{{/if}} />
               <label for="system.canMelee" class='resource-label'>Melee</label>
            </li>
            <li class="flex1">
               <input type="checkbox" name="system.canRanged" data-dtype="Boolean" {{#if system.canRanged}} checked{{/if}} />
               <label for="system.canRanged" class='resource-label'>Ranged</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.mod.dmgRanged" value='{{system.mod.dmgRanged}}' data-dtype='Number' />
               <label for="system.mod.dmgRanged" class='resource-label'>{{localize 'FADE.Weapon.mod.dmgRanged.short'}}</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.mod.toHitRanged" value='{{system.mod.toHitRanged}}' data-dtype='Number' />
               <label for="system.mod.toHitRanged" class='resource-label'>{{localize 'FADE.Weapon.mod.toHitRanged.short'}}</label>
            </li>
            <li class="flex1" style="margin-left:3px;">
               <input type='text' name="system.range.short" value='{{system.range.short}}' data-dtype='Number' />
               <label for="system.range.short" class='resource-label'>Short</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.range.medium" value='{{system.range.medium}}' data-dtype='Number' />
               <label for="system.range.medium" class='resource-label'>Medium</label>
            </li>
            <li class="flex1">
               <input type='text' name="system.range.long" value='{{system.range.long}}' data-dtype='Number' />
               <label for="system.range.long" class='resource-label'>Long</label>
            </li>
         </ul>
      </div>
   </header>

   {{! Sheet Tab Navigation }}
   <nav class='sheet-tabs tabs' data-group='primary'>
      <a class='item' data-tab='description'>Description</a>
      <a class='item' data-tab='effects'>Effects</a>
   </nav>

   {{! Sheet Body }}
   <section class='sheet-body'>
      {{! Description Tab }}
      <div class='tab' data-group='primary' data-tab='description'>
         {{! Editors must receive enriched text data from getData to properly handle rolls }}
         {{editor enrichedDescription target='system.description' engine='prosemirror' button=true editable=editable}}
      </div>

      {{! Effects Tab }}
      <div class="tab effects" data-group="primary" data-tab="effects">
         {{> "systems/fantastic-depths/templates/item/parts/item-effects.hbs"}}
      </div>
   </section>
</form>